<footer class="footer" style="background: #282E38;">
    <div class="container-fluid">
        <div class="row" style="place-content: center;">
            <div class="col-md-6" style="text-align: center">
                Copyright&copy; {{today}} <a style="color: #C6D0D6;font-size: 13.2px;cursor:pointer;    text-decoration: underline;" (click)="playstore()">Fedo.ai</a> 
            </div>
            <!-- <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">About Us</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact Us</a>
                </div>
            </div> -->
        </div>
    </div>
</footer>