

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .download-style{
        display: grid;
                    grid-auto-flow: column;
                    grid-gap: 1rem;
                    padding-top: 1rem;
                    grid-template-columns: min-content;
    }
}

@media screen and (min-width: 767px) and (max-width: 1400px) {
    .download-style{
        display: grid;
    grid-auto-flow: dense;
    grid-gap: 0.5rem;
    padding-top: 1rem;
    grid-template-columns: auto auto;
    }
}


@media screen and (min-width: 600px) and (max-width: 766px) {
    .download-style{
        display: grid;
                    grid-auto-flow: column;
                    grid-gap: 1rem;
                    padding-top: 1rem;
                    grid-template-columns: min-content;
    }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
    .download-style{
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 1rem;
        padding-top: 1rem;
        grid-template-columns: auto auto;
    }
}