

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    .download-style{
        display: grid;
                    grid-auto-flow: column;
                    grid-gap: 1rem;
                    padding-top: 1rem;
                    grid-template-columns: min-content;
    }
}

@media screen and (min-width: 767px) and (max-width: 1400px) {
    .download-style{
        display: grid;
    grid-auto-flow: dense;
    grid-gap: 0.5rem;
    padding-top: 1rem;
    grid-template-columns: auto auto;
    }
}


@media screen and (min-width: 600px) and (max-width: 766px) {
    .download-style{
        display: grid;
                    grid-auto-flow: column;
                    grid-gap: 1rem;
                    padding-top: 1rem;
                    grid-template-columns: min-content;
    }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
    .download-style{
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 1rem;
        padding-top: 1rem;
        grid-template-columns: auto auto;
    }
}

.form-control{
    // .form-control {
        display: block;
        width: 100%;
        padding: .45rem .9rem;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--ct-input-color);
        background-color:  #383E4A;
        background-clip: padding-box;
        border: 1px solid  #444C5B;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 4px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.overlay {
    height: 100%;
    display: grid;
    width: 84%;
    margin-left: -1rem;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    background-color: rgba(0,0,0,.5);
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    align-content: center;
    justify-items: center;
    left: 16rem;
    overflow-y: auto;
  }

  @media screen and (max-width: 991px) {

    .overlay {
        left: 0;
        width: 100%;
    }
  }

  .graph-container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .graph-container{
        grid-template-columns: auto;

    }
} 
.BarGraph-container{
    display: grid;
    grid-template-columns:  max-content 1fr;
    margin-bottom: 1rem;
    grid-gap:1rem;
}

@media (max-width: 800px) {
    .BarGraph-container{
        grid-template-columns: auto;

    }
    

}