<!-- <app-default-layout> -->
  <div class="account-pages" style="background-image: url(./assets/images/bg-image.png);padding-top:4.5rem;">
    <div class="container">
  
        <div class="row justify-content-center" style="padding-bottom: 5.3rem;">
            <div class="col-md-8 col-lg-6 col-xl-4" style="padding: 0 0.8rem 0rem 1.1rem;" >
                <div class="text-center" *ngIf="true">
                    <div class="auth-logo">
                        <a [routerLink]="'/'" class="logo logo-dark ">
                            <span class="logo-lg">
                                <img src="./assets/images/fedo-logo-white.png" alt="" height="22">
                            </span>
                        </a>
  
                        <a [routerLink]="'/'" class="logo logo-light ">
                            <span class="logo-lg">
                                <img src="./assets/images/logo-light.png" alt="" height="22">
                            </span>
                        </a>
                    </div>
                    <p class="text-muted mt-2 mb-4">Admin Panel</p>
  
                </div>
                <div class="card" class="bg-pattern">
                    <div class="card-body ">
  
                        <ng-content></ng-content>
  
                    </div> <!-- end card-body -->
                </div>
                <ng-content select="[footerLink]"></ng-content>
              <div style="background:#313844;padding: 2.25rem;border-radius:5px">
  <div class="text-center mb-4">
    <h4 class="text-uppercase mt-0" style='color: white;'i18n>Sign In</h4>
  </div>
<!-- <div style="background: #313844;"> -->
  <form name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()"  style="    background: #313844;">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <!-- <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
      {{ error }}
    </ngb-alert> -->
    <div class="mb-3">
      <div class="form-floating ">
      <input class="form-control" type="email" id="emailaddress" required i18n-placeholder
        placeholder="Enter your email" formControlName="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [ngClass]="{'is-invalid':formSubmitted && formValues['email'].invalid}" style=" height: 3rem;" />
      <label for="floatingInput" class="form-label" i18n>Email address</label>


      <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">

        <div *ngIf="formValues['email'].errors?.['required']" i18n>
          Mandatory field
        </div>
        <div *ngIf="formValues['email'].errors?.['pattern']" i18n>
          Invalid email format. Please enter valid email format
        </div>
      </div>

      </div>
    </div>

    <div class="mb-3">
      <div class="form-floating ">

      <input class="form-control" type="password" required i18n-placeholder id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        placeholder="Enter your password" formControlName="password" style=" height: 3rem;" 
        [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
      <label for="floatingInput" class="form-label" i18n>Password</label>

      <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">

        <div *ngIf="formValues['password'].errors?.['required']" i18n>
          Mandatory field
        </div>
        <div *ngIf="formValues['password'].errors?.['pattern']">
          Invalid Password format. Please enter valid Password format
     </div>

      </div>
      <div *ngIf="error" class="mt-1" style="width: 100%;
                    font-size: 0.75rem;
                    color: #F08F8F;">
                        {{error}}
                   </div>
    </div>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" formControlName="rememberMe" class="form-check-input" id="checkbox-signin" />
        <label class="form-check-label" for="checkbox-signin" i18n>Remember me</label>
      </div>
    </div>

    <div class="mb-3 d-grid text-center">
      <button class="btn btn-primary" type="submit" i18n>Log In</button>
    </div>
  </form>
</div>
 

  <div class="row mt-3" footerLink>
    <div class="col-12 text-center">
      <p>
        <a routerLink="../recover-password" class="text-muted ms-1" i18n><i class="fa fa-lock me-1"></i>Forgot your
          password?</a>
      </p>
      <p>




      </p>
      <!-- <p class="text-muted" i18n>
        Don't have an account?
        <a routerLink="../register" class="text-dark ms-1"><b>Sign Up</b></a>
      </p> -->
    </div>
  </div>
  
</div>
</div>
</div>
</div>
<!-- </app-default-layout> -->