<app-default-layout>
    <div class="text-center mb-4">
        <h4 class="text-uppercase mt-0 mb-3" style="color: white;" i18n>Reset Password</h4>
        <p class="text-muted mb-0 font-13" i18n>{{titleString}} </p>
    </div>
    <ngb-alert type="warning" *ngIf="successMessage" [dismissible]="false" class="mt-3">{{
        successMessage }}
    </ngb-alert>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
        <div class="mb-3" *ngIf="orgLogin === false">
      <div class="form-floating ">

            <input class="form-control" type="email" id="emailaddress" required i18n-placeholder style="height: 3rem;"pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                placeholder="Enter your email" formControlName="email"
                [ngClass]="{'is-invalid':resetFormValues['email'].touched && resetFormValues['email'].invalid || formSubmitted && resetFormValues['email'].invalid}">
            <label for="floatingInput" class="form-label" i18n>Email address</label>



                <div *ngIf="resetFormValues['email'].touched && resetFormValues['email'].errors?.['required'] || formSubmitted&&resetFormValues['email'].errors?.['required']" class="invalid-feedback" i18n>
                    Mandatory field
                </div>
                <div *ngIf="resetFormValues['email'].touched && resetFormValues['email'].errors?.['pattern'] || formSubmitted&&resetFormValues['email'].errors?.['pattern']" class="invalid-feedback" i18n>
                    Invalid email format. Please enter valid email format
                </div>
                <div *ngIf="errorMessage" class="mt-1" style="width: 100%;
                font-size: 0.75rem;
                color: #F08F8F;">
                    {{errorMessage}}
               </div>
            </div>

        </div>
        <div class="mb-3" *ngIf="orgLogin === true">
      <div class="form-floating ">

            <input class="form-control" type="password" id="password" required i18n-placeholder style="   height: 3rem;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                placeholder="Enter new Password" formControlName="password"
                [ngClass]="{'is-invalid': resetFormValues['password'].touched && resetFormValues['password'].invalid}">
                <label for="floatingInput" class="form-label" i18n>New Password</label>

            <div *ngIf="resetFormValues['password'].touched && resetFormValues['password'].invalid" class="invalid-feedback">

                <div *ngIf="resetFormValues['password'].errors?.['required']" i18n>
                    Mandatory field
            </div>
            <div *ngIf="resetFormValues['password'].errors?.['pattern']">
                Invalid Password format. Please enter valid Password format
           </div>

           
          
        </div>
            </div>
        </div>
        <div class="mb-3" *ngIf="orgLogin === true">
      <div class="form-floating ">

            <input class="form-control" type="password" id="confirmPassword" required i18n-placeholder   style=" height: 3rem;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                placeholder="Confirm Password" formControlName="confirmPassword"
                [ngClass]="{'is-invalid': resetFormValues['confirmPassword'].touched && resetFormValues['confirmPassword'].invalid}">
                <label for="floatingInput" class="form-label" i18n>Confirm New Password</label>

            <div *ngIf="resetFormValues['confirmPassword'].touched && resetFormValues['confirmPassword'].invalid" class="invalid-feedback">

                <div *ngIf="resetFormValues['confirmPassword'].errors?.['required']" i18n>
                    Mandatory field
            </div>
            <div *ngIf="resetFormValues['confirmPassword'].errors?.['pattern']">
                Invalid Password format. Please enter valid Password format
           </div>
        </div>
        <div  *ngIf="resetFormValues['confirmPassword'].touched &&resetFormValues['password'].value != resetFormValues['confirmPassword'].value" style="width: 100%;
            margin-top: 0.25rem;
            font-size: 0.75rem;
            color: #F08F8F;">
                Passwords do not match
           </div>

            </div>
        </div>
        <div class="mb-3" *ngIf="orgLogin === true">
      <div class="form-floating ">

            <input class="form-control" type="password" id="ConfirmationCode" required i18n-placeholder style="    
            height: 3rem;" minlength="6" 
            oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="6" 
                placeholder="Enter your code" formControlName="ConfirmationCode"
                [ngClass]="{'is-invalid': resetFormValues['ConfirmationCode'].touched  && resetFormValues['ConfirmationCode'].invalid}">
                <label for="floatingInput" class="form-label" i18n>Enter OTP</label>

            <div *ngIf="resetFormValues['ConfirmationCode'].touched  && resetFormValues['ConfirmationCode'].invalid" class="invalid-feedback">

                <div *ngIf="resetFormValues['ConfirmationCode'].errors?.['required']" i18n>
                    Mandatory field
                </div>
                <div *ngIf="resetFormValues['ConfirmationCode'].errors?.['minlength']">
                    Invalid OTP format. Please enter valid OTP format
               </div>

            </div>
            <div *ngIf="errorMessage" class="mt-1" style="width: 100%;
                font-size: 0.75rem;
                color: #F08F8F;">
                    {{errorMessage}}
               </div>
        </div>
        </div>

        <div class="mb-3 text-center d-grid">
            <button class="btn btn-primary" type="submit" i18n> Reset Password </button>
        </div>

    </form>


    <div class="row mt-3" footerLink>
        <div class="col-12 text-center">
            <p class="text-muted" i18n>Back to <a [routerLink]="['../orgLogin']" class="text-dark ms-1"><b>Sign In</b></a>
            </p>
        </div> <!-- end col -->
    </div>

</app-default-layout>