<app-default-layout>
    <div class="text-center mb-4">
        <h4 class="text-uppercase mt-0 mb-3" style="color: white;" i18n>Reset Password</h4>
        <p class="text-muted mb-0 font-13" i18n>{{titleString}} </p>
    </div>
    <ngb-alert type="warning" *ngIf="successMessage" [dismissible]="false" class="mt-3">{{
        successMessage }}
    </ngb-alert>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
        <div class="mb-3" *ngIf="orgLogin === false">
            <label for="emailaddress" class="form-label" i18n>Email address</label>
            <input class="form-control" type="email" id="emailaddress" required i18n-placeholder style="    background: #383E4A;
            border: 1px solid #444C5B;
            border-radius: 4px;"
                placeholder="Enter your email" formControlName="email"
                [ngClass]="{'is-invalid': formSubmitted && resetFormValues['email'].invalid}">


                <div *ngIf="formSubmitted&&resetFormValues['email'].errors?.['required']" i18n>
                    Please enter email
                </div>
                <div *ngIf="formSubmitted&&resetFormValues['email'].errors?.['email']" i18n>
                    Email must be a valid Email Address
                </div>

        </div>
        <div class="mb-3" *ngIf="orgLogin === true">
            <label for="emailaddress" class="form-label" i18n>Create Password</label>
            <input class="form-control" type="password" id="emailaddress" required i18n-placeholder style="    background: #383E4A;
            border: 1px solid #444C5B;
            border-radius: 4px;"
                placeholder="Enter new Password" formControlName="password"
                [ngClass]="{'is-invalid': formSubmitted && resetFormValues['password'].invalid}">

            <div *ngIf="formSubmitted && resetFormValues['password'].invalid" class="invalid-feedback">

                <div *ngIf="formValues['password'].errors?.['required']" i18n>
                    Please enter password
                </div>
            </div>
        </div>
        <div class="mb-3" *ngIf="orgLogin === true">
            <label for="emailaddress" class="form-label" i18n>Confirm Password</label>
            <input class="form-control" type="password" id="emailaddress" required i18n-placeholder style="    background: #383E4A;
            border: 1px solid #444C5B;
            border-radius: 4px;"
                placeholder="Confirm Password" formControlName="confirmPassword"
                [ngClass]="{'is-invalid': formSubmitted && resetFormValues['email'].invalid}">

            <div *ngIf="formSubmitted && resetFormValues['confirmPassword'].invalid" class="invalid-feedback">

                <div *ngIf="resetFormValues['confirmPassword'].errors?.['required']" i18n>
                    Please enter email
                </div>

            </div>
        </div>
        <div class="mb-3" *ngIf="orgLogin === true">
            <label for="emailaddress" class="form-label" i18n>Confirmation Code</label>
            <input class="form-control" type="email" id="emailaddress" required i18n-placeholder style="    background: #383E4A;
            border: 1px solid #444C5B;
            border-radius: 4px;"
                placeholder="Enter your code" formControlName="ConfirmationCode"
                [ngClass]="{'is-invalid': formSubmitted && resetFormValues['ConfirmationCode'].invalid}">

            <div *ngIf="formSubmitted && resetFormValues['email'].invalid" class="invalid-feedback">

                <div *ngIf="resetFormValues['email'].errors?.['required']" i18n>
                    Please enter email
                </div>

            </div>
        </div>

        <div class="mb-3 text-center d-grid">
            <button class="btn btn-primary" type="submit" i18n> Reset Password </button>
        </div>

    </form>


    <div class="row mt-3" footerLink>
        <div class="col-12 text-center">
            <p class="text-muted" i18n>Back to <a [routerLink]="['../login']" class="text-dark ms-1"><b>Sign In</b></a>
            </p>
        </div> <!-- end col -->
    </div>

</app-default-layout>