<div id="liveAlertPlaceholder" style=" position: fixed;
z-index: 9999;
display: block;
width: -webkit-fill-available;
padding: 0 10px 0 0;
margin-top: -28px;">

    <ngb-alert style = 'background: #0fba64;'type="success" *ngIf="showLiveAlertResendInvitation" (closed)="showLiveAlertResendInvitation = false"><span style="color: white;">{{errorMessageResendInvitation}}</span></ngb-alert>

</div>
<ng-template #toggleModal1 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body" style="    background-color: #282E38;min-width: min-content;">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');basicWizardForm.reset();list=3;reloadCurrentPage()" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Create User</h4>
    
            <form [formGroup]="userForm" #basicForm="ngForm">
                <div id="basicwizard">
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard2"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a [ngStyle]=" activeWizard2 > 1 ? ngstyle():null" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class=" d-sm-inline">User Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style=" height: 3rem; color: #9BA6AC"
                                                    oninput=" this.value = this.value.replace(/[0-9]/g,'')" 
                                                    pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"
                                                    [ngClass]="{'is-invalid':userForm.controls['user_name'].touched && userForm.controls['user_name'].invalid || formSubmitted && userForm.controls['user_name'].invalid}"
                                                    
                                                        name="userName" placeholder="User Full Name" required formControlName="user_name">
                                                        <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>User Full Name</label>
                                                       
                                                        <div *ngIf="userForm.controls['user_name'].touched && userForm.controls['user_name'].invalid || formSubmitted && userForm.controls['user_name'].invalid" class="invalid-feedback">
                                                            <div *ngIf="userForm.controls['user_name'].errors?.['required']" i18n>
                                                              Mandatory field
                                                            </div>
                                                            <div *ngIf="userForm.controls['user_name'].errors?.['pattern']" i18n>
                                                              Invalid name format. Please enter your full name
                                                            </div>
                                                        </div>
                                                
                                                      </div>
                                                  
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="  height: 3rem;
                                                    color: #9BA6AC" formControlName="designation" minlength="3"
                                                    oninput=" this.value = this.value.replace(/[0-9]/g,'')" 
                                                    [ngClass]="{'is-invalid':userForm.controls['designation'].touched && userForm.controls['designation'].invalid || formSubmitted && userForm.controls['designation'].invalid}"

                                                        name="userName" placeholder="Designation" required>
                                                    <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Designation</label>
                                                <div *ngIf="userForm.controls['designation'].touched && userForm.controls['designation'].invalid || formSubmitted && userForm.controls['designation'].invalid" class="invalid-feedback">

                                                    <div *ngIf="userForm.controls['designation'].errors?.['required']" i18n>
                                                      Mandatory field
                                                    </div>
                                                    <div *ngIf="userForm.controls['designation'].errors?.['minlength']" i18n>
                                                      Enter full designation
                                                    </div>
                                                  </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style=" height: 3rem;color: #9BA6AC"
                                                        name="userName" placeholder="Email Address" required formControlName="email"
                                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                    [ngClass]="{'is-invalid':userForm.controls['email'].touched && userForm.controls['email'].invalid || formSubmitted && userForm.controls['email'].invalid}">
                                                    <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Email Address</label>
                                                    
                                                <div *ngIf="userForm.controls['email'].touched && userForm.controls['email'].invalid || formSubmitted && userForm.controls['email'].invalid" class="invalid-feedback">

                                                    <div *ngIf="userForm.controls['email'].errors?.['required']" i18n>
                                                      Mandatory field
                                                    </div>
                                                    <div *ngIf="userForm.controls['email'].errors?.['pattern']" i18n>
                                                      Invalid email format. Please enter valid email format
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput maxlength="10"  type="number" class="form-control" id="userName1" style=" height: 3rem;color: #9BA6AC"
                                                        name="userName" placeholder="Mobile Number" formControlName="mobile"  
                                                    [ngClass]="{'is-invalid':userForm.controls['mobile'].touched && userForm.controls['mobile'].invalid || formSubmitted && userForm.controls['mobile'].invalid}">
                                                 <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Mobile Number</label>
                                                 
                                            <div *ngIf="userForm.controls['mobile'].touched && userForm.controls['mobile'].invalid || formSubmitted && userForm.controls['mobile'].invalid" class="invalid-feedback">

                                                <div *ngIf="userForm.controls['mobile'].errors?.['required']" i18n>
                                                  Mandatory field
                                                </div>
                                                <div *ngIf="userForm.controls['mobile'].errors?.['pattern']" i18n>
                                                  Invalid format. Please enter valid format
                                                </div>
                                              </div>

                                                    </div>
                                            </div>
                                        </div>
                                        <div class="mb-3" style="display: grid; grid-template-columns: auto auto" >

                                        <div class="form-check">
                                          <input type="radio" id="customRadio1" name="customRadio" (change)="change(false)" [checked]="notThirdParty"  class="form-check-input" />
                                          <label class="form-check-label" for="customRadio1">Own Employee</label>
                                        </div>

                                        <div class="form-check">
                                          <input type="radio" id="customRadio2" name="customRadio" (change)="change(true)" [checked]="thirdParty"  class="form-check-input" />
                                          <label class="form-check-label" for="customRadio1">Employee of TPA</label>
                                        </div>

                                            <div *ngIf="formSubmitted && thirdParty==false&& notThirdParty==false" 
                                            style="width: 100%;
                                            margin-top: 0.25rem;
                                            font-size: 0.75rem;
                                            color: #F08F8F;">
                                                      Mandatory field
                                            </div>

                                      </div>
                                      <div class="form-floating " style="display: flex; padding-bottom: 1rem; " *ngIf="thirdParty == true" >
                                        <input type="text" class="form-control" (input)="inputTpa()" id="userName1" style="background: #383e4a; border: 1px solid #444c5b;border-radius: 4px;color: #9BA6AC" name="userName" placeholder="Select third-party Company or Add New" formControlName="third_party_org_name" list="codes" minlength="3" />
                                            <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" required class="form-label" i18n>Select third-party Company or Add New</label>  

                                        <datalist id="codes" style="background: white">
                                          <option *ngFor="let c of codeList" >
                                            {{ c }}
                                          </option>
                                        </datalist>

                                        <button *ngIf="showButton&&addTpafunc==false&&changeButton && userForm.controls['third_party_org_name'].value.length>=3" (click)="addTpa()" id="erase" style="
                                            background: #383e4a;
                                            height: 3..6rem;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;
                                            color: grey;
                                            padding-right: 0.5rem;
                                            padding-left: 0.5rem;">+</button>

                                        <button *ngIf="addTpafunc" class="mdi mdi-check-all" id="erase" style="
                                            background: #084b23;
                                            height: 3..6rem;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;
                                            color: grey;
                                            padding-right: 0.5rem;
                                            padding-left: 0.5rem;"></button>

                                      </div>

                                    <div class="mb-3" *ngIf="userForm.controls['third_party_org_name'].touched && thirdParty==true"
                                       style="width: 100%;
                                        font-size: 0.75rem;
                                        color: #F08F8F;">

                                            <div *ngIf=" userForm.controls['third_party_org_name'].errors?.['minlength']" i18n>
                                                    Enter full Third Party Name
                                            </div>
                                                  
                                    </div>
                                            <div class="mb-3" *ngIf="showLiveAlertNextButton" style="width: 100%;font-size: 0.75rem;color: #F08F8F;">
      
                                                {{errorMessageNextButton}}
                                                      
                                            </div>

                                            <div style="padding-bottom:1rem">
                                                <h5 class="header-title" style="color: #AEB5BC;">No Sign-Up flow</h5>
                                                <div class="form-check form-switch" style=" display: grid;">
                                                    <input type="checkbox"  class="form-check-input" id="customSwitch1" formControlName="is_web">
                                                </div>
                                            </div>
                                            
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                                

                            </ng-template>
                        </li>

                        <li [ngbNavItem]="2">

                            <a [ngStyle]=" activeWizard2 > 2 ? ngstyle():null" style="pointer-events:none" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class="d-sm-inline">Products</span>
                            </a>
                                          <ng-template ngbNavContent>
                                            <div style="display: grid;
                                            grid-template-columns:repeat(auto-fill, minmax(8rem , 5fr));
                                            grid-gap: 1rem;margin-bottom: 2rem;">
                                                        <ng-template ngFor let-season [ngForOf]="userProduct" let-i=index>
                                                            <div class="gal-detail thumb" style="    width: 142px;
                                                            height: 180px;
                                                            background: #3C424F;
                                                            border-radius: 8px; margin:0px">
                                                                <a href="javascript:void(0)" class="image-popup" title="hi">
                                                                </a>
                                                            
                                                                <div style="    text-align: -webkit-center;
                                                                display: grid;
                                                                justify-items: center;
                                                                grid-gap: 1rem; margin-top: 0.5rem;">
                                                                    <div class="avatar-md">
                                                                        <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                            F{{season.product_name.charAt(0).toUpperCase()}}
                                                                        </span>
                                                                    </div>
                                                                    <p class="text-muted mb-1">Fedo {{season.product_name === 'vitals' ? 'Vitals' : season.product_name.toUpperCase()}}</p>
                                                                    <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                                        <input type="checkbox" formControlName="{{season.product_name}}"  (change)="updateUserProd($event,season)" class="form-check-input" id="customSwitch1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                            </div>
                                        </ng-template>
                                         
                        </li>

                        <li [ngbNavItem]="3">

                            <a style="pointer-events: none;" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class=" d-sm-inline">Finish</span>
                            </a>

                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p style="color: #AEB5BC;" class="w-75 mb-2 mx-auto">You have successfully created the User <b>{{user_name}}</b>. An invitaton email has already been sent to the User.
                                                You may inform the User to check mail and follow instructions to sign up and start Pilot.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" >
                        <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showLiveAlertAPI" (closed)="showLiveAlertAPI = false">{{errorMessageAPI}}</ngb-alert>
                        </div>

                        <li class="previous list-inline-item" *ngIf="!(activeWizard2 == list)">
                            <button class="btn btn-secondary" (click)="activeWizard2=1" *ngIf="activeWizard2 !== 3"
                                [disabled]="activeWizard2===1">Previous</button>
                        </li>
                        <li class="next " style="text-align: center;" *ngIf="activeWizard2 == 3">

                            <div style="    display: grid;
                            grid-template-columns: min-content max-content;
                            justify-content: center;
                            grid-gap: 0.5rem;">
                                <button style="width: 6rem;" type="button" class="btn btn-secondary" (click)="modal.dismiss('');userForm.reset();reloadCurrentPage()"
                                    >Close</button>
                                <button type="button" class="btn btn-info" (click)="created=false;activeWizard2=1;selectedUserProducts=[];userForm.reset();showLiveAlert=false;userForm.controls['org_id'].setValue(organaization_id);showLiveAlertNextButton=false; formSubmitted=false; notThirdParty=false; thirdParty=false; addTpafunc=false; showLiveAlertNextButton=false;showLiveAlertAPI=false"
                                    >Add Another User</button>
                            </div>

                        </li>
                        <li class="next list-inline-item float-end" *ngIf="!(activeWizard2 == 3)">
                            <button type="button" style="width: 100px;" (click)=" checkUserFirstForm();" class="btn btn-info" 
                                *ngIf=" activeWizard2==1">Next</button>
                            <button type="button" style="width: 100px;" class="btn btn-info" (click)="checkingUserForm()" 
                                *ngIf="activeWizard2==2&&selectedUserProducts.length!==0">Submit</button>
                        </li>

                    </ul>

                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>

<div class="card layout-style" style="background: #313844;">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)"   class="dropdown-toggle card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div *ngFor="let person of tableData;" ngbDropdownMenu>
                <a href="javascript:void(0);" (click)="open(toggleModal1);setValue(person); "  ngbDropdownItem>Create User</a>
            </div>
        </div>            
        <h4 class="mt-0 header-title" style="color: white;">User List</h4>

        <div class="row">
            <div class="col-xl-3 col-md-4" *ngIf="pageSizeOptions.length">
            <div  class="text--start">
                <label class="form-label me-1">Show
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"   name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="entries"   (change)="onFilter($event.target)">
                        <option *ngFor="let option of pageSizeOptions" #id [value]="option"  >{{option}}</option>
                    </select>
                    entries</label>
            </div>
        </div>
        <div class="col-xl-2 col-md-2">
            <div class="text--start">
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"  name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="activeStatusValue"  (change)="onActiveStatus($event.target)">
                        <option *ngFor="let option of activeStatusOptions" #id [value]="option"  >{{option}}</option>
                    </select>
            </div>
        </div>
        </div>

        <div class="table-responsive" >
            <table class="table advanced-table table-nowrap mb-0">
                <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">
                    <tr style="border-color: #49565d;" >
                        <th>#</th>
                        <th></th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Employee Of</th>
                        <th style="    text-align: -webkit-center;">Sign Up Date</th>
                        <th style="    text-align: -webkit-center;">Vitals Test</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                    <tr class="over-hover" style="border-color: #49565d;" *ngFor="let person of userList ;let i=index;">
                        <td scope="row">{{entries *(page-1)+i+1}}</td>
                        <td *ngIf="person.is_deleted===false"><img src="./assets/images/User Status - Active.png"></td>
                        <td *ngIf="person.is_deleted===true"><img src="./assets/images/User Status - Inactive.png"></td>
                        <td>{{person.user_name&&person.type=='OrgAdmin'? person.user_name + ' (OA)': person.user_name}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.mobile.slice(3,14)}}</td>
                        <td>{{person.tpa_name != null ? (person.tpa_name==''? 'Direct':person.tpa_name+ '(TPA)') :'Direct'}}</td>
                        <td style="    text-align: -webkit-center;">{{person.created_date | date: 'dd/MM/yyyy'}}</td>
                        <td style="    text-align: -webkit-center; color: #F2CA65;">{{person.vitalsTest||0}}</td>
                        <td class="option">
                            <div class=" float-end" ngbDropdown placement="bottom-end" >
                                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div style="    border: 1px solid #4B515F;" class="kanban_style" ngbDropdownMenu>
                                    <a [routerLink]="'/'+person.org_id+'/home/'+person.id"  href="javascript:void(0);" ngbDropdownItem>User Info</a>
                                    <a (click)="editUserForm(person)"  href="javascript:void(0);" ngbDropdownItem>Edit User</a>
                                <div style="display: flex;
                                    align-items: center;">
                                    <div *ngIf="person.is_deleted===false" href="javascript:void(0);"  ngbDropdownItem>Status (<span style="color: green;">Active</span> / Inactive)</div>
                                    <div *ngIf="person.is_deleted===true" href="javascript:void(0);"  ngbDropdownItem>Status (Active / <span style="color:red;">Inactive</span>)</div>
                                    
                                    <div class="form-check form-switch" >
                                        <input type="checkbox" [(ngModel)]="!person.is_deleted" [ngModelOptions]="{standalone: true}" class="form-check-input" (ngModelChange)="updateStatus($event,person)"  id="customSwitch1">
                                </div>
                            </div>
                            <div *ngIf="person.is_register===false" href="javascript:void(0);" style="cursor: pointer;" (click)="resendInvitationMail(person)"  ngbDropdownItem>Resend Invitation

                            </div>
                        </div>

                            </div> 
                        </td>

                    </tr>
                </tbody>
            </table>
            <div *ngIf="userList.length === 0"><p style="text-align: -webkit-center;">No Records Found</p></div>
            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2" style="color: #9BA6AC">
                <div *ngIf="(currentPage*entries)<=total_user">
                    Showing {{entries *(page-1)+1}} to
                    {{currentPage*entries}} of {{total_user}} entries
                </div>
                <div *ngIf="(currentPage*entries)>total_user">
                    Showing {{entries *(page-1)+1}} to
                    {{total_user}} of {{total_user}} entries
                </div>
                <ngb-pagination class="d-flex justify-content-end mt-2" 
                    [pageSize]="1" [collectionSize]="total_pages"[maxSize]="5"  [rotate]="true" (pageChange)="loadPage($event)" [(page)]="page">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
            </div>

            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2"
            *ngIf="true">
        </div>
        </div>
    </div>

</div>

<ng-template #toggleModal6 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body" style="    background-color: #282E38;min-width: min-content;">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');basicWizardForm.reset();list=3;reloadCurrentPage()" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Edit User</h4>
    
            <form [formGroup]="userEditForm" #basicForm="ngForm">
                <div id="basicwizard">
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard2"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a [ngStyle]=" activeWizard2>1 ? ngstyle():null" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class=" d-sm-inline">User Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style=" height: 3rem; color: #9BA6AC"
                                                    oninput=" this.value = this.value.replace(/[0-9]/,'')" 
                                                    pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"
                                                    [ngClass]="{'is-invalid':userEditForm.controls['user_name'].touched && userEditForm.controls['user_name'].invalid || formSubmitted && userEditForm.controls['user_name'].invalid}"
                                                    
                                                        name="userName" placeholder="User Full Name" required formControlName="user_name">
                                                        <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>User Full Name</label>
                                                       
                                                    <div *ngIf="userEditForm.controls['user_name'].touched && userEditForm.controls['user_name'].invalid || formSubmitted && userEditForm.controls['user_name'].invalid" class="invalid-feedback">

                                                        <div *ngIf="userEditForm.controls['user_name'].errors?.['required']" i18n>
                                                          Mandatory field
                                                        </div>
                                                        <div *ngIf="userEditForm.controls['user_name'].errors?.['pattern']" i18n>
                                                          Invalid name format. Please enter your full name
                                                        </div>
                                                      </div>
                                                
                                                      </div>
                                        </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="  height: 3rem;
                                                    color: #9BA6AC" formControlName="designation" minlength="3"
                                                    oninput=" this.value = this.value.replace(/[0-9]/g,'')" 
                                                    [ngClass]="{'is-invalid':userEditForm.controls['designation'].touched && userEditForm.controls['designation'].invalid || formSubmitted && userEditForm.controls['designation'].invalid}"

                                                        name="userName" placeholder="Designation" required>
                                                    <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Designation</label>
                                                <div *ngIf="userEditForm.controls['designation'].touched && userEditForm.controls['designation'].invalid || formSubmitted && userEditForm.controls['designation'].invalid" class="invalid-feedback">

                                                    <div *ngIf="userEditForm.controls['designation'].errors?.['required']" i18n>
                                                      Mandatory field
                                                    </div>
                                                    <div *ngIf="userEditForm.controls['designation'].errors?.['minlength']" i18n>
                                                      Enter full designation
                                                    </div>
                                                  </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style=" height: 3rem;color: #9BA6AC"
                                                        name="userName" placeholder="Email Address" required formControlName="email" [readonly]="true"
                                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                    [ngClass]="{'is-invalid':userEditForm.controls['email'].touched && userEditForm.controls['email'].invalid || formSubmitted && userEditForm.controls['email'].invalid}">
                                                    <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Email Address</label>
                                                    
                                                <div *ngIf="userEditForm.controls['email'].touched && userEditForm.controls['email'].invalid || formSubmitted && userEditForm.controls['email'].invalid" class="invalid-feedback">

                                                    <div *ngIf="userEditForm.controls['email'].errors?.['required']" i18n>
                                                      Mandatory field
                                                    </div>
                                                    <div *ngIf="userEditForm.controls['email'].errors?.['pattern']" i18n>
                                                      Invalid email format. Please enter valid email format
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput maxlength="10"  type="number" class="form-control" id="userName1" style=" height: 3rem;color: #9BA6AC"
                                                        name="userName" placeholder="Mobile Number" formControlName="mobile"  
                                                    [ngClass]="{'is-invalid':userEditForm.controls['mobile'].touched && userEditForm.controls['mobile'].invalid || formSubmitted && userEditForm.controls['mobile'].invalid}">
                                                 <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Mobile Number</label>
                                                 
                                            <div *ngIf="userEditForm.controls['mobile'].touched && userEditForm.controls['mobile'].invalid || formSubmitted && userEditForm.controls['mobile'].invalid" class="invalid-feedback">

                                                <div *ngIf="userEditForm.controls['mobile'].errors?.['required']" i18n>
                                                  Mandatory field
                                                </div>
                                                <div *ngIf="userEditForm.controls['mobile'].errors?.['pattern']" i18n>
                                                  Invalid format. Please enter valid format
                                                </div>
                                              </div>

                                                    </div>
                                            </div>
                                        </div> 
                                        
                                        <div class="mb-3" style="display: grid; grid-template-columns: auto auto" >
                                            <div class="form-check">
                                              <input type="radio" id="customRadio1" name="customRadio" (change)="change(false)" [checked]="notThirdParty"  class="form-check-input" />
                                              <label class="form-check-label" for="customRadio1">Own Employee</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="radio" id="customRadio2" name="customRadio" (change)="change(true)" [checked]="thirdParty"  class="form-check-input" />
                                              <label class="form-check-label" for="customRadio1">Employee of TPA</label>
                                        </div>
                                        <div *ngIf="formSubmitted && thirdParty==false&& notThirdParty==false" style="width: 100%; margin-top: 0.25rem;font-size: 0.75rem;  color: #F08F8F;">
                                                  Mandatory field
                                              </div>
                                      </div>
                                      <div class="form-floating" style="display: flex; padding-bottom: 1rem; " *ngIf="thirdParty == true" >
                                        <input type="text" class="form-control" id="userName1" style="
                                            background: #383e4a;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;color: #9BA6AC" name="userName" (input)="editInputTpa()" placeholder="Select third-party Company or Add New" formControlName="third_party_org_name" list="codes" minlength="3" />
                                            <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" required class="form-label" i18n>Select third-party Company or Add New</label>
                                        <datalist id="codes" style="background: white">
                                          <option *ngFor="let c of codeList" >
                                            {{ c }}
                                          </option>
                                        </datalist>
                                        <!-- <div > --> 
                                        <button *ngIf="showButton&&changeButton && userEditForm.controls['third_party_org_name'].value.length>=3" (click)="editAddTpa()" id="erase" style="
                                            background: #383e4a;
                                            height: 3.6rem;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;
                                            color: grey;
                                            padding-right: 0.5rem;
                                            padding-left: 0.5rem;">+</button>

                                            <button *ngIf="addTpafunc" class="mdi mdi-check-all" id="erase" style="
                                            background: #084b23;
                                            height: 3..6rem;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;
                                            color: grey;
                                            padding-right: 0.5rem;
                                            padding-left: 0.5rem;"></button>
                                        <!-- </div> -->
                                      </div>

                                      <div class="mb-3" *ngIf="userEditForm.controls['third_party_org_name']?.touched && thirdParty==true" style="width: 100%; font-size: 0.75rem; color: #F08F8F;">
                                                  <div *ngIf=" userEditForm.controls['third_party_org_name'].errors?.['minlength']" i18n>
                                                    Enter full Third Party Name
                                                  </div>
                                              </div>

                                    </div> <!-- end col -->
                                </div> <!-- end row -->
         
                            </ng-template>
                        </li>

                        <li [ngbNavItem]="2">
                            <a [ngStyle]=" activeWizard2 > 2 ? ngstyle():null" ngbNavLink class="rounded-0 pt-2 pb-2"style="pointer-events:none">
                                <span class=" d-sm-inline">Products</span>
                            </a>
                                          <ng-template ngbNavContent>
                                            <div style="display: grid;
                                            grid-template-columns:repeat(auto-fill, minmax(8rem , 5fr));
                                            grid-gap: 1rem;margin-bottom: 2rem;">
                                                        <ng-template ngFor let-season [ngForOf]="userProduct" let-i=index>
                                                            <div class="gal-detail thumb" style="    width: 142px;
                                                            height: 180px;
                                                            background: #3C424F;
                                                            border-radius: 8px;margin:0%">
                                                                <a href="javascript:void(0)" class="image-popup" title="hi">
                                                                </a>
                                                                <div style="    text-align: -webkit-center;
                                                                display: grid;
                                                                justify-items: center;
                                                                grid-gap: 1rem; margin-top: 0.5rem;">
                                                                    <div class="avatar-md">
                                                                        <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                            F{{season.product_name.charAt(0)}}
                                                                        </span>
                                                                    </div>
                                                                    <p class="text-muted mb-1">Fedo {{season.product_name === 'vitals' ? 'Vitals' : season.product_name}}</p>
                                                                    <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                                        <input type="checkbox" [checked]="season.checked"  [ngStyle]="{'pointer-events': season.noPenetration ? 'none':'fill'}"  (change)="updateEditUserProd($event,season)" class="form-check-input" id="customSwitch1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                            </div>
                                        </ng-template>
                                         
                        </li>



                        <li [ngbNavItem]="3">
                            <a style="pointer-events: none;" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class=" d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>

    
                                            <p style="color: #AEB5BC;" class="w-75 mb-2 mx-auto">Your changes have been saved successfully.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" >
                        <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showLiveAlertAPI" (closed)="showLiveAlertAPI = false">{{errorMessageAPI}}</ngb-alert>
                        </div>
                        <li class="previous list-inline-item" *ngIf="activeWizard2 == 2">
                            <button class="btn btn-secondary" (click)="activeWizard2=1" 
                                >Previous</button>
                 
                        </li>
                        <li class="next " style="text-align: center;" *ngIf="activeWizard2 == 3">
                        <!-- <li class="next " style="text-align: center;" *ngIf="activeWizard1 == 2"> -->
                            <div style="    display: grid;
                            grid-template-columns: min-content max-content;
                            justify-content: center;
                            grid-gap: 0.5rem;">
                                <button style="width: 6rem;" type="button" class="btn btn-secondary" (click)="modal.dismiss('');userForm.reset();reloadCurrentPage();"
                                    >Close</button>
                            </div>
                        </li>
                        <li class="next list-inline-item float-end" *ngIf="activeWizard2 == 2">
                            <button type="button" style="width: 100px;" class="btn btn-info" (click)="editUser()">Submit</button>
                        </li>
                        <li class="next list-inline-item float-end" *ngIf="activeWizard2 == 1">
                            <button type="button" style="width: 100px;" (click)="activeWizard2=activeWizard2+1" class="btn btn-info">Next</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>

<div *ngIf="show" class="overlay">
    <div class="card" style="background-color: #EC6661;margin-bottom: 0;">
        <div class="card-body" style="   min-width: min-content;border-radius: 4px;    background-color: #EC6661;  display: grid;
        grid-gap: 2rem;">
                <div style="text-align:center">
                    <img src="./assets/images/Alert.png" style="width:8%">
                </div>
   
            <h3 class="mt-0" style="color: #fff;    text-align-last: center;">Alert!</h3>

            <p style="text-align: center;
            font-size: 1rem;
            line-height: 1.3rem ;">
                The {{productsData.pilot_duration +" days" }} Pilot of your organisation has expired.<br/>
            You will not be able to perform any activities from your account now.<br/>
                                    <br/>
            We hope you were able to do enough scans and compare app data with physical data?<br/>
                                    <br/>
            We will get in touch with you shortly to discuss how we can continue the association going forward.<br/>
                                    <br/>
                    Good day!
            </p>
            <div style="text-align-last:center">
                <button type="button" style="width: 100px;background: #3C424F;border: 1px solid #FFFFFF; border-radius: 4px;" (click)="sendEmail()" class="btn btn-info" >Notify Fedo</button>
            </div>

        </div>

    </div> 
</div>


