<ng-template #toggleModal1 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');userForm.reset();list=3" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Users</h4>
    
            <form [formGroup]="userForm" #basicForm="ngForm">
                <div id="basicwizard">
    
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="userWizard1"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-account-circle me-1"></i> -->
                                <span class="d-none d-sm-inline">User Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B; 
                                                border-radius: 4px;"
                                                    name="userName" placeholder="User Full Name" formControlName="user_name">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Designation" formControlName="designation">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Email Address" formControlName="email">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Mobile Number" formControlName="mobile">
                                            </div>
                                        </div>
                                        <div class="mt-3" style="display: grid;
                                        grid-template-columns: 1fr 2fr;">
                                            <div class="form-check">
                                                <input type="radio" id="customRadio1"[checked]="!thirdParty" name="customRadio" class="form-check-input" (click)="thirdParty=false">
                                                <label class="form-check-label" for="customRadio1">Own Employee</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" id="customRadio2" [checked]="false" name="customRadio" class="form-check-input" (click)="thirdParty=true">
                                                <label class="form-check-label" for="customRadio2">Employee of Third-Party Tie-up</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8" style=" padding-top: 1rem;padding-bottom: 1rem;" *ngIf="thirdParty">
                                            <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                            border: 1px solid #444C5B;
                                            border-radius: 4px;"
                                                name="userName" placeholder="Select third-party Company or Add New" formControlName="third_party_org_name">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-face-profile me-1"></i> -->
                                <span class="d-none d-sm-inline">Products</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div style="display: grid;
                                    grid-auto-flow: column;
                                    grid-template-columns:min-content min-content;
                                    grid-gap: 1rem;margin-bottom: 2rem;">
                                         
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FH
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo HSA</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="hsa" (change)="demoUserFunction($event,'hsa')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FV
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo Vitals</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="vitals" (change)="demoUserFunction($event,'vitals')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FR
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo RUW</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="ruw"  (change)="demoUserFunction($event,'ruw')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </ng-template>
                        </li>

                        <li [ngbNavItem]="3">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i> -->
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p class="w-75 mb-2 mx-auto">You have successfully created the Organisation ABC. An invitaton email has already been sent to the Org Admin.
                                                 You may inform the Org Admin to check mail and follow instructions to sign up and start Pilot.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" >
                        <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showLiveAlert" (closed)="showLiveAlert = false">{{errorMessage}}</ngb-alert>
                        </div>
                        <li class="previous list-inline-item" *ngIf="!(userWizard1 == list)">
                            <button class="btn btn-secondary" (click)="userWizard1=1" *ngIf="userWizard1 !== 3"
                                [disabled]="userWizard1===1">Previous</button>
                        </li>
                        <li class="next " style="text-align: center;" *ngIf="userWizard1 == 3">
                            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('');userForm.reset();list=3"
                                >Close</button>
                        </li>
                        <li class="next list-inline-item float-end" *ngIf="!(userWizard1 == 3)">
                            <button type="button" (click)="userWizard1=userWizard1+1" class="btn btn-secondary" 
                                *ngIf=" userWizard1==1">Next</button>
                            <button type="button" class="btn btn-secondary" (click)="checkingUserForm()"
                                *ngIf="userWizard1==2">Submit</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>

<div class="card" style="background: #313844;">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)"   class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <a href="javascript:void(0);" (click)="open(toggleModal1)"  ngbDropdownItem>Create User</a>
            </div>
        </div>            
        <!-- <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)" (click)="open(toggleModal1)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-plus"></i>
            </a>
        </div>             -->
        <h4 class="mt-0 header-title" style="color: white;">User List</h4>
        <!-- <p class="text-muted font-14 mb-3">
            For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code>
            to any <code>&lt;table&gt;</code>.
        </p> -->

        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Employee Of</th>
                        <th>Sign Up Date</th>
                        <th>Vitals Test</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of userList;let indexOfelement=index;">
                        <td scope="row">{{indexOfelement+1}}</td>
                        <td>{{person.user_name}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.mobile}}</td>
                        <td>{{(person.organization_name === userOrganisationName)?'Direct':person.organization_name}}</td>
                        <td>{{person.created_date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{person.total_tests}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2"
            *ngIf="true">
            <div>   
                Showing  entries
            </div>
        </div>
        </div>
    </div>

</div>



