<!-- <p>notification-list works!</p> -->
<div class="card" style="background: #313844;">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <div ngbDropdownMenu>
            </div>
        </div>            
        <h4 class="mt-0 header-title" style="color: white;">Notifications</h4>

        <div class="row">
        <div class="col-xl-4 col-md-4" *ngIf="pageSizeOptions.length">
            <div  class="text--start">
                <label class="form-label me-1">Show
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"   name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="entries"   (change)="onFilter($event.target)">
                        <option *ngFor="let option of pageSizeOptions" #id [value]="option"  >{{option}}</option>
                    </select>
                    entries</label>
            </div>
            
        </div>

        <div class="col-xl-4 col-md-4" >
            <div class="text--start">
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"  name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="readStatusValue"  (change)="onReadStatus($event.target)">
                        <option *ngFor="let option of readStatusOptions" #id [value]="option"  >{{option}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xl-4 col-md-4" style="text-decoration: underline;
        padding-top: 0.5rem;">
        <p (click)="markAllAsRead()" style=" cursor: pointer;" >Mark all as read</p>
    </div>
    </div>

        <div class="table-responsive" >
            <table class="table advanced-table table-nowrap mb-0">
                <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">

                    <tr style="border-color: #49565d;text-align:center">
                        <th>#</th>
                        <th>Date</th>
                        <th>Topic</th>
                        <th style="    text-align: -webkit-center;">Organisation Name</th>
                        <th style="    text-align: -webkit-center;">Contact Name</th>
                        <th style="    text-align: -webkit-center;">Designation</th>
                        <th >Email</th>
                        <th >Mobile</th>
                        <th>Status</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                    <tr class="over-hover" style="border-color: #49565d;text-align:center"  *ngFor="let person of tableData;let indexOfelement=index;">
                        <th scope="row">{{indexOfelement+1}}</th>
                        <td>{{person.created_date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{'New Vital Sign Up'}}</td>
                        <td>{{person.organization_name}}</td>
                        <td>{{person.admin_name}}</td>
                        <td>{{person.designation}}</td>
                        <td>{{person.organization_email}}</td>
                        <td >{{person.organization_mobile.slice(3,14)}}</td>
                        <td style="color:#5AC172;" *ngIf="person.is_register===true">{{'Verified'}}</td>
                        <td style="color:#F08F8F;" *ngIf="person.is_register===false">{{'Inactive'}}</td>

                        <td class="option">
                            <div class=" float-end" ngbDropdown placement="bottom-end" >
                                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div *ngIf="person.is_read == false" style="    border: 1px solid #4B515F;" ngbDropdownMenu>
                                    <a   href="javascript:void(0);" (click)="updateReadStatus(person.id)" ngbDropdownItem>Mark as Read</a>
                                    <!-- <a *ngIf="person.data.length!=0" (click)="exportexcel(person.data)"  href="javascript:void(0);" ngbDropdownItem>Download Report</a>                             -->
                        </div>

                            </div> 
                        </td>
                    </tr>

                 
                </tbody>
            </table>
            <div *ngIf="tableData.length === 0"><p style="text-align: -webkit-center;">No Records Found</p></div>
            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2">
                <div *ngIf="(currentPage*entries)<=total_org">
                    Showing {{entries *(page-1)+1}} to
                    {{currentPage*entries}} of {{total_org}} entries
                </div>
                <div *ngIf="(currentPage*entries)>total_org">
                    Showing {{entries *(page-1)+1}} to
                    {{total_org}} of {{total_org}} entries
                </div>
            <ngb-pagination  class="d-flex justify-content-end mt-2"  [collectionSize]="total_pages" [(page)]="page"(pageChange)="loadPage($event)"
                [maxSize]="5" [rotate]="true" [pageSize]="1" >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
        </div>
        </div>
    </div>

</div>
