<app-default-layout>
    <div class="text-center mb-4">
        <h4 *ngIf="verify==false" class="text-uppercase mt-0" style="color: #fff ;" i18n>Sign Up</h4>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
        <div class="mb-3">
        </div>
        <div class="mb-3" *ngIf="signUp === false">
      <div class="form-floating ">
            <input class="form-control" type="email" id="emailaddress" i18n-placeholder placeholder="Enter your email"
                formControlName="email" required style="height: 3rem;"  readonly="readonly"
                [ngClass]="{'is-invalid':formSubmitted && formValues['email'].invalid}"/>
            <label for="floatingInput" class="form-label" i18n>Email Address</label>
            <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">
                <div *ngIf="formValues['email'].errors?.['required']" i18n>
                    Mandatory field
                </div>
                <div *ngIf="formValues['email'].errors?.['email']" i18n>
                    Email must be a valid Email Address
                </div>
            </div>
        </div>
        </div>
        <div class="mb-3" *ngIf="signUp === false">
      <div class="form-floating ">
            <input class="form-control" type="password" id="password" i18n-placeholder placeholder="Enter your password"
                formControlName="password" [ngClass]="{'is-invalid':formValues['password'].touched && formValues['password'].invalid ||formSubmitted && formValues['password'].invalid}" style="height: 3rem;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                required />
            <label for="floatingInput" class="form-label" i18n>New Password</label>
            <div *ngIf="formValues['password'].touched && formValues['password'].invalid ||formSubmitted && formValues['password'].invalid " class="invalid-feedback">
                <div *ngIf="formValues['password'].errors?.['required']" i18n>
                    Mandatory field
                </div>
                <div *ngIf="formValues['password'].errors?.['pattern']">
                    Invalid Password format. Please enter valid Password format
               </div>
            </div>
        </div>
        </div>
        <div class="mb-3" *ngIf="signUp === false">
      <div class="form-floating ">

            <input class="form-control" type="password" id="confirmPassword" i18n-placeholder placeholder="Enter your password"
                formControlName="confirmPassword" [ngClass]="{'is-invalid':formValues['confirmPassword'].touched && formValues['confirmPassword'].invalid ||formSubmitted && formValues['confirmPassword'].invalid}" style="height: 3rem;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                required />
            <label for="floatingInput" class="form-label" i18n>Confirm New Password</label>

            <div *ngIf="formValues['confirmPassword'].touched && formValues['confirmPassword'].invalid ||formSubmitted && formValues['confirmPassword'].invalid " class="invalid-feedback">

                <div *ngIf="formValues['confirmPassword'].errors?.['required']" i18n>
                    Mandatory field
                </div>
                <div *ngIf="formValues['confirmPassword'].errors?.['pattern']">
                    Invalid Password format. Please enter valid Password format
               </div>
               

            </div>
            <div  *ngIf="formValues['confirmPassword'].touched &&formValues['password'].value != formValues['confirmPassword'].value" style="width: 100%;
            margin-top: 0.25rem;
            font-size: 0.75rem;
            color: #F08F8F;">
                Passwords do not match
           </div>
           <div *ngIf="error" class="mt-1" style="width: 100%;
                font-size: 0.75rem;
                color: #F08F8F;">
                    {{error}}
               </div>
        </div>
        </div>
        <div class="mb-3 text-center d-grid">
            <button *ngIf="verify==false" class="btn btn-primary" type="submit" i18n> Sign Up </button>
        </div>

    </form>

    <div class="row mt-3" footerLink>
        <div class="col-12 text-center">
            <p class="text-muted" i18n>Already have account? <a routerLink="../login" class="text-dark ms-1"><b>Sign
                        In</b></a>
            </p>
        </div>
    </div>

</app-default-layout>