<div class="card" style="background: #313844;">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <!-- <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a> -->
            <div ngbDropdownMenu>
                <!-- item-->
                <!-- <a href="javascript:void(0);" ngbDropdownItem>Create Pilot</a> -->
                <!-- item-->
                <!-- <a href="javascript:void(0);" [routerLink]="['/vitalsList/'+snapshotParam]" ngbDropdownItem>Pilots List</a> -->

            </div>
        </div>            
        <h4 class="mt-0 header-title" style="color: white;">Guest Scans</h4>
        <div class="col-xl-4 col-md-4" *ngIf="pageSizeOptions.length">
            <div  class="text--start">
                <label class="form-label me-1">Show
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"   name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="entries"   (change)="onFilter($event.target)">
                        <option *ngFor="let option of pageSizeOptions" #id [value]="option"  >{{option}}</option>
                    </select>
                    entries</label>
            </div>
        </div>

        <div class="table-responsive" >
            <table class="table advanced-table table-nowrap mb-0">
                <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">

                    <tr style="border-color: #49565d;">
                        <th>#</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th style="    text-align: -webkit-center;">Gender</th>
                        <th style="    text-align: -webkit-center;">Email</th>
                        <th style="    text-align: -webkit-center;">First Scan</th>
                        <th >Last Scan</th>
                        <th >Tests</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                    <tr class="over-hover" style="border-color: #49565d;"  *ngFor="let person of tableData;let indexOfelement=index;">
                        <th scope="row">{{indexOfelement+1}}</th>
                        <!-- {{person.id}} -->
                        <td>{{person.name}}</td>
                        <td>{{person.age}}</td>
                        <td>{{person.gender}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.first_scan| date: 'dd/MM/yyyy'}}</td>
                        <td>{{person.last_scan| date: 'dd/MM/yyyy'}}</td>
                        <td style="cursor: pointer;    text-align: -webkit-center;color: #F2CA65;">{{person.total_tests}}</td>
                        <td class="option">
                            <div class=" float-end" ngbDropdown placement="bottom-end" >
                                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div style="    border: 1px solid #4B515F;" ngbDropdownMenu>
                                    <a (click)="enableScan(person.email)"   href="javascript:void(0);" ngbDropdownItem>Enable Additional Scans</a>
                                    <a (click)="exportexcel()"  href="javascript:void(0);" ngbDropdownItem>Download Report</a>

                                    <!-- <a [routerLink]="['/userdetails', person.id]" href="javascript:void(0);" ngbDropdownItem>Users List</a> -->
                            
                        </div>

                            </div> 
                        </td>
                    </tr>

                 
                </tbody>
            </table>
            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2">
                <div *ngIf="(currentPage*entries)<=total_user">
                    Showing {{entries *(page-1)+1}} to
                    {{currentPage*entries}} of {{total_user}} entries
                </div>
                <div *ngIf="(currentPage*entries)>total_user">
                    Showing {{entries *(page-1)+1}} to
                    {{total_user}} of {{total_user}} entries
                </div>
            <ngb-pagination  class="d-flex justify-content-end mt-2"  [collectionSize]="total_pages" [(page)]="page"(pageChange)="loadPage($event)"
                [maxSize]="5" [rotate]="true" [pageSize]="1" >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
        </div>
        </div>
    </div>

</div>


<ng-template #toggleModal6 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body" style="    background-color: #282E38;min-width: min-content;">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');reloadCurrentPage()" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>      
            <div *ngIf = "template"   >
            <h4 style="color: white;">Enable Additional Scans</h4>

            <div style="    
            border-radius: 6px;
            height: auto;
            width: auto;
            
    padding: 0.5rem;
            background-color: #3C424F   ;">
        <p style="    margin: 0;
        text-align-last: center;color:#AEB5BC">You are enabling additional scans for </p>
        <p style="    margin: 0;
        text-align-last: center;color:#FFFFFF">{{user_name}} ({{user_email}})</p>
        </div>
    
            <form>
                <div id="basicwizard">

                    <div class="card">
                        <div class="card-body" style="padding-left: 0;padding-bottom:0">
                            <h4 class="header-title" style="color: #AEB5BC;">How many Additional Scans you want to enable?</h4>
                            <ngx-slider [value]="1" [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
                                [options]="{
                                    floor: 1,
                                    ceil: 10
                                }"></ngx-slider>
                                <!-- <div *ngIf="season.pilot_duration==0&&season.pressed" style="color:  #F08F8F;">
                                    Mandatory field
                                  </div> -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                    
    
                    <!-- <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div> -->
                    <ul class="list-inline mb-0 wizard" >
                        <!-- <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showLiveAlertAPI" (closed)="showLiveAlertAPI = false">{{errorMessageAPI}}</ngb-alert>
                        </div> -->
                        <!-- <li class="previous list-inline-item" *ngIf="!(activeWizard1 == list)">
                            <button class="btn btn-secondary" (click)="activeWizard1=1" *ngIf="activeWizard1 !== 3"
                                [disabled]="activeWizard1===1">Previous</button>
                        </li> -->
                        <!-- <li class="next " style="text-align: center;" >
                            <div style="    display: grid;
                            grid-template-columns: min-content max-content;
                            justify-content: center;
                            grid-gap: 0.5rem;">
                                <button style="width: 6rem;" type="button" class="btn btn-secondary" (click)="modal.dismiss('')"
                                    >Close</button> -->
                                <!-- <button type="button" class="btn btn-info" (click)="created=false;activeWizard1=1;selectedUserProducts=[];userForm.reset();showLiveAlert=false; userForm.controls['org_id'].setValue(organaization_id);showLiveAlertNextButton=false; formSubmitted=false; notThirdParty=false; thirdParty=false; addTpafunc=false; showLiveAlertNextButton=false;showLiveAlertAPI=false"
                                    >Add Another User</button> -->
                            <!-- </div>
                        </li> -->
                        <li class="next list-inline-item float-end" *ngIf="activeWizard2 == 1">
                            <!-- <button type="button" style="width: 100px;" (click)="  checkUserFirstForm()" class="btn btn-info" 
                                *ngIf=" activeWizard1==1">Next</button> -->
                            <button type="button" style="width: 100px;" class="btn btn-info" (click)="guestUpdate()">Submit</button>
                        </li>
                        <li class="next list-inline-item " *ngIf="activeWizard2 == 1">
                            <!-- <button type="button" style="width: 100px;" (click)="  checkUserFirstForm()" class="btn btn-info" 
                                *ngIf=" activeWizard1==1">Next</button> -->
                            <button type="button" style="width: 100px;" class="btn btn-secondary" (click)="modal.dismiss('')" >Close</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div>
        <div *ngIf="!template">
            <h4 style="color: white;">Enable Additional Scans</h4>
            <!-- <ng-template ngbNavContent> -->
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                            <h3 class="mt-0" style="color: #fff;">Success !</h3>


                            <p style="color: #AEB5BC;" class="w-75 mb-2 mx-auto">You have successfully enabled additional scans for {{user_name}}. A notification email has already been sent to the user.</p>
                            <button type="button" style="width: 100px;" class="btn btn-info mt-3" (click)="modal.dismiss('');reloadCurrentPage();" >Close</button>
                        </div>
                    </div>
                </div> 
            <!-- </ng-template> -->
        </div>
    </div>      
    <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>
