


    <div style="color: #FFFFFF;text-align-last: center;    line-height: 5px; margin-top:0.5rem"  *ngIf="prodId==undefined">
        <p style="font-weight: bold;">{{user_name}}</p>
        <p style="color: #ADB5BD;">{{email}}</p>
        <p style="color: #ADB5BD;">{{mobile}}</p>
    </div>
    <div class="row">
    <div class="col-xl-6 col-md-6" style="display: inline-grid;" *ngIf="prodId!=undefined">
        <div class="card pt-2 pb-2" style="background: #313844;border-radius: 10px;" >
            <div class="card-body widget-user">
                <h4 class="mt-0 header-title" style="color: white;">Your Scans</h4>
                <div class="col-xl-12 card-body" style="padding:0">
                    <p style="
                    margin-bottom: 0.5rem;"> You have completed <b style="    color: #82B4F3;font-size: xxx-large;">{{testScan}}</b>  scans since  your account is created</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 " style="display: inline-grid;"*ngIf="prodId!=undefined" >
        <div class="card pt-2  " style="background: #313844;border-radius: 10px; padding-bottom:1.25rem"  >
            <div class="card-body widget-user ">
                <h4 class="mt-0 header-title " style="color: white;">Downloads</h4>
                <div class="download-style "  >
                <a *ngIf="product.mobile_url !== null"  class='cursor-pointer' style="cursor: pointer;" (click)="playstore(product.mobile_url,'mobile')" >
                    <img src="./assets/images/get-it-on-google-play-google-play-badge-png-logos-23 1.png" style="height: 3.5rem;">
                </a>
                <a *ngIf="product.ios_url !== null"  class='cursor-pointer' (click)="playstore(product.ios_url,'ios')" style="opacity: 0.4;" >
                    <img src="./assets/images/Button - iOS App Download.png" style="height: 3.5rem;width: 10.3rem;">
                </a>
                <a *ngIf="product.web_url !== null"  class='cursor-pointer' (click)="playstore(product.web_url,'web')" >
                    <button  style="height: 3.5rem;width: 10.3rem; background-color: black; color: white;  border-radius: 11px;"> {{product.product_id === 1 ? 'HSA' : (product.product_id === 2 ? 'Vitals':'RUW' )}} Web App</button>
                </a>
                </div>

            </div>
        </div>
    </div>
</div>
    
    <ng-template ngFor let-season [ngForOf]="graphArray" let-i=index> 

        <div class="row"  >
        <div class="col-xl-6 " style="display: inline-grid;" >
            <div class="card layout-style" style="background: #313844; border-radius:10px">
                
                    <div class="card-body">
    
                    <div class="float-end" ngbDropdown placement="bottom-end">
                        <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    
                        <div ngbDropdownMenu>
                            <!-- item-->
                            <a href="javascript:void(0);" [routerLink]="'/'+userId+'/report/'+season.prodId" [queryParams]="{userId: userId , created_date : created_date,organization_name : organization_name }" ngbDropdownItem>View Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" (click)="exportexcel(season.data)" ngbDropdownItem>Download Excel Report</a>
                            <!-- item-->
                            <!-- <a href="javascript:void(0);" ngbDropdownItem>Something else</a> -->
                            <!-- item-->
                            <!-- <a href="javascript:void(0);" ngbDropdownItem>Separated link</a> -->
                        </div>
    
                    </div>
    
                    <h4 class="header-title mt-0 mb-3" style="color: white;">Fedo  {{season.name}}: Daily Scan Report</h4>
    
                    <div class="col-sm-6">
                        <input class="form-control" style="width: auto;" id="example-date" [(ngModel)]='season.date' (change)="checkdate($event,season.prodId,season.date)" type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{todayDate|date:'yyyy-MM-dd'}}"  name="date">
    
                        <!-- <div ngbDropdown class="mt-sm-0 mt-2 mb-2">
                            <a style="background: #383E4A;
                            color: #9BA6AC;
                            border-color: #444C5B;" class="btn btn-light" href="javascript:void(0)" role="button" id="dropdownLink"
                                ngbDropdownToggle>
                               Date <i class="mdi mdi-chevron-down"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownLink">
                                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
                            </div>
                        </div> -->
                    </div> <!-- end col -->
    
                    <div class="BarGraph-container" style="display: grid;" >
                    <div style="display: grid;grid-template-columns:max-content max-content;grid-gap: 1rem;  margin-top: 3rem;">
                        <div style=" align-self: center; color:#ADB5BD;display: grid;
                        grid-gap: 1rem;">
                            <p style="font-size: 1.2rem;margin: 0;">Total Scans</p>
                            <p style="font-size: 1.2rem;margin: 0;">Standard Mode Scans</p>
                            <p style="font-size: 1.2rem;margin: 0;">Event Mode Scans</p>
                        </div>
                        <div  style=" align-self: center; color:#F5F5F5;display: grid;
                        grid-gap: .45rem;">
                            <div class="grid-class"><p>: &nbsp;  </p> <p style="color: #F2CA65; font-size: 1.7rem; font-weight: 500; margin: 0;"> {{season.totalScans}}</p></div>
                            <div class="grid-class"><p>: &nbsp; </p> <p style="color: #82B4F3; font-size: 1.7rem; font-weight: 500; margin: 0;"> {{season.standardModeScans}}</p></div>
                            <div class="grid-class"><p>: &nbsp;  </p> <p style="color: #FF9632; font-size: 1.7rem; font-weight: 500; margin: 0;"> {{season.eventModeScans}}</p></div>
                        </div>
                      
                        <!-- <div>
                            <button>Download Excel Report</button>
                        </div> -->
                        <div style="    margin-top: 4rem;">
                            <img src="./assets/images/excel-icone.png"> &nbsp;
                            <a style="font-size: 1.2rem;
                            margin: 0;
                            color: #ADB5BD;text-decoration-line: underline; cursor: pointer;" (click)="exportexcel(season.data)">Download Excel Report</a>
                           
                           
                          </div>
                        
    
                    </div>
                    
    
                    <div class="chartjs-chart" style="height: 300px;width:75%">
                        <canvas id="bar-chart" #barChart baseChart [data]="season.graph.data!" [legend]="false"
                            [type]="season.graph.type!" [options]="season.graph.chartOptions!"></canvas>
                    </div>
                    <div>
                            <!-- <button>Download Excel Report</button> -->
                        </div>
                    <div style="    display: inline-flex;
                gap: inherit;justify-self: center;    place-items: baseline;">
                    <div style="background-color:RGBA(104, 116, 129, 0.5);height: 5px;width:20px"></div><p style="color:#ADB5BD">Previous</p>
                    <div style="background-color:RGBA(242, 202, 101, 0.5);height:5px;width:20px"></div><p style="color:#ADB5BD">Current</p>
                </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="col-xl-6" style="display: inline-grid;">
        <div class="card layout-style" style="background: #313844; border-radius:10px">
            <div class="card-body">
                <!-- <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>

                    </div>
                </div> -->
        
                <h4 class="header-title mt-0 mb-3" style="color: white;">Fedo {{season.name}}: Performance Chart</h4>
                <div class="col-sm-6">
                    <div ngbDropdown class="mt-sm-0 mt-2 mb-2">
                        <a style="background: #383E4A;
                        color: #9BA6AC;
                        border-color: #444C5B;" class="btn btn-light" href="javascript:void(0)" role="button" id="dropdownLink"
                            ngbDropdownToggle>
                            Current vs Previous {{season.performance.period.charAt(0).toUpperCase()+season.performance.period.slice(1).slice(0,-2)}} <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownLink">
                            <a (click)="fetchTimely(season.prodId,'weekly')" ngbDropdownItem>Current vs Previous Week</a>
                        <a (click)="fetchTimely(season.prodId,'monthly')" ngbDropdownItem>Current vs Previous Month</a>
                        <a  (click)="fetchTimely(season.prodId,'quaterly')"ngbDropdownItem>Current vs Previous Quater</a>
                        <a (click)="fetchTimely(season.prodId,'yearly')" ngbDropdownItem>Current vs Previous Year</a>
    
                        </div>
                    </div>
                </div> 
    
                <div class="graph-container" style="display: grid ">
                <!-- <div style=" align-self: center; color:#F5F5F5">
                    <p>Current Month:</p>
                    <p>Previous Month:</p>
                    <p>Variance:</p>
                    <p>Top Performer (User):</p>
                    <p style="color: #5FB5DC;">Milind Soman<br>
                        milind.soman@sample.com</p>
                </div> -->
        
                <div dir="ltr" style="padding: 0.5rem;">
                    <apx-chart class="apex-charts mt-2" [series]="season.performance.graph.series!" [chart]="season.performance.graph.chart!"
                    [dataLabels]="season.performance.graph.dataLabels!" [legend]="season.performance.graph.legend!" [fill]="season.performance.graph.fill!"
                    [grid]="season.performance.graph.grid!" [xaxis]="season.performance.graph.xaxis!" [yaxis]="season.performance.graph.yaxis!"
                    [stroke]="season.performance.graph.stroke!" [tooltip]="season.performance.graph.tooltip!" [colors]="season.performance.graph.colors!">
                </apx-chart>
                <div style="    display: inline-flex;
                gap: 0.8rem;margin-left:5rem;    place-items: baseline;">
                    <div style="background-color:#82B4F3;height: 5px;width:20px"></div><p style="color:#ADB5BD">Current</p>
                    <div style="background-color: #F08FC9;height:5px;width:20px"></div><p style="color:#ADB5BD">Previous</p>
                </div>
                </div>
                <div>
                    <div style="display: grid;grid-template-columns:max-content max-content;grid-gap: 1rem;">
                        <div style=" align-self: center; color:#ADB5BD;display: grid;
                        grid-gap: 1rem;">
                            <p style="font-size: 1.2rem;margin: 0;">Current Month</p>
                            <p style="font-size: 1.2rem;margin: 0;">Previous Month</p>
                            <p style="font-size: 1.2rem;margin: 0;">Variance</p>
                        </div>
                        <div  style=" align-self: center; color:#F5F5F5;display: grid;
                        grid-gap: .45rem;">
                            <div class="grid-class"><p>: &nbsp;  </p> <p style="color: #82B4F3; font-size: 1.7rem; font-weight: 500; margin: 0;"> {{season.performance.currentMonth}}</p></div>
                            <div class="grid-class"><p>: &nbsp; </p> <p style="color: #F08FC9; font-size: 1.7rem; font-weight: 500; margin: 0;"> {{season.performance.previousMonth}}</p></div>
                            <div class="grid-class"><p>: &nbsp;  </p> <p *ngIf="season.performance.varience>0" style="color: #5AC172; font-size: 1.6rem; font-weight: 500; margin: 0;"> {{season.performance.varience.toFixed(1)}}%<i class="fe-arrow-up"></i></p>
                                <p *ngIf="season.performance.varience<0" style="color:red ; font-size: 1.6rem; font-weight: 500; margin: 0;"> {{season.performance.varience.toFixed(1)}}%<i class="fe-arrow-down"></i></p>
                                <p *ngIf="season.performance.varience==0 || season.performance.varience=='' " style="color:#FF9632 ; font-size: 1.7rem; font-weight: 500; margin: 0;"> {{season.performance.varience}}%</p>
                            </div>
                        </div>
                      
                        <!-- <div>
                            <button>Download Excel Report</button>
                        </div> -->
                    </div>
                        <div>
                            <p style="font-size: 1.2rem;margin: 0;color:#ADB5BD;margin-top: 2rem;">Top Performer (User):</p>
                            <p style="font-size: 1.2rem;margin: 0;color:#82B4F3;min-width: max-content;">Current &nbsp; &nbsp;&nbsp;&nbsp;<span style="color:#FFFFFF">:&nbsp;{{season.performance.currentUserNmae}}</span></p> 
                            <p style="font-size: 1.2rem;margin: 0;color:#F08FC9;min-width: max-content;">Previous &nbsp; &nbsp;<span style="color:#FFFFFF">:&nbsp;{{season.performance.PreviouseUserName}}</span>   </p>
                    </div>
                        
        
                    </div>
                </div>
        
            </div>
        </div>
        </div>
    
    
        </div>
    </ng-template>


<div *ngIf="show" class="overlay">
    <div class="card" style="background-color: #EC6661;margin-bottom: 0;">
        <div class="card-body" style="   min-width: min-content;border-radius: 4px;    background-color: #EC6661;  display: grid;
        grid-gap: 2rem;    place-items: center;">
                <div style="text-align:center">
                    <img src="./assets/images/Alert.png" style="width:8%">
                </div>
   
            <h3 class="mt-0" style="color: #fff;    text-align-last: center;">Alert!</h3>

            <p style="text-align: center;
            font-size: 1rem;
            line-height: 1.3rem;width: 50%;">
                Your trial period has expired.<br/>

                                    <br/>
                You may contact your Reporting Manager for any assistance. It was a pleasure to see you using our app. We hope to associate with you soon.<br/>
                                    <br/>
            We will get in touch with you shortly to discuss how we can continue the association going forward.<br/>
                                    <br/>
                    Good day!
            </p>
            
                    <div *ngIf="prodId==undefined" style="text-align-last:center;">
                        <button  type="button" style="width: 100px;border-radius: 4px;background: #3C424F;
                        border: 1px solid #FFFFFF;
                        border-radius: 4px;" class="btn btn-info" (click)="closeUser()" >Close</button>
                    </div>
        </div>

    </div> 
</div>

<ng-template #toggleModal4 let-modal>
    <div class="card" style="background-color: #EC6661;margin-bottom: 0;">
        <div class="card-body" style="   min-width: min-content;border-radius: 4px;    background-color: #EC6661;  display: grid;
        grid-gap: 2rem;    place-items: center;">
                <div style="text-align:center">
                    <img src="./assets/images/Alert.png" style="width:8%">
                </div>
   
            <h3 class="mt-0" style="color: #fff;    text-align-last: center;">Alert!</h3>

            <p style="text-align: center;
            font-size: 1rem;color: #fff;
            line-height: 1.3rem;">
                Your account is inactive. <br/>

                                    <br/>
                                    Hence you will not be able to access your account neither use the Vitals App. You may contact your Reporting Manager for any assistance. <br/>
                                    <br/>

                    Good day!
            </p>
            
                    <div style="text-align-last:center;">
                        <button type="button" style="width: 100px;border-radius: 4px;background: #3C424F;
                        border: 1px solid #FFFFFF;
                        border-radius: 4px;" class="btn btn-info" (click)="closeInactiveUser()" >Close</button>
                    </div>
        </div>

    </div> 
</ng-template>