<ng-template #toggleModal3 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');basicWizardForm.reset();list=3" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Create User</h4>
    
            <form [formGroup]="userForm" #basicForm="ngForm">
                <div id="basicwizard">
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard1"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-account-circle me-1"></i> -->
                                <span class="d-none d-sm-inline">User Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                    border: 1px solid #444C5B; height: 3rem; 
                                                    border-radius: 4px;"
                                                        name="userName" placeholder="User Full Name" formControlName="user_name">
                                                        <label for="floatingInput" style="font-size: 0.8rem" class="form-label" i18n>User Full Name</label>
                                                    </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                    border: 1px solid #444C5B;  height: 3rem;
                                                    border-radius: 4px;"
                                                        name="userName" placeholder="Designation" formControlName="designation">
                                                    <label for="floatingInput" style="font-size: 0.8rem" class="form-label" i18n>Designation</label>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                    border: 1px solid #444C5B;  height: 3rem;
                                                    border-radius: 4px;"
                                                        name="userName" placeholder="Email Address" formControlName="email">
                                                    <label for="floatingInput" style="font-size: 0.8rem" class="form-label" i18n>Email Address</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                    border: 1px solid #444C5B;  height: 3rem;
                                                    border-radius: 4px;"
                                                        name="userName" placeholder="Mobile Number" formControlName="mobile">
                                                 <label for="floatingInput" style="font-size: 0.8rem" class="form-label" i18n>Mobile Number</label>

                                                    </div>
                                            </div>
                                        </div>
                                        <div class="mb-3" style="display: grid; grid-template-columns: 1fr 2fr" >
                                            <div class="form-check">
                                              <input type="radio" id="customRadio1" name="customRadio" (change)="change()" [checked]="notThirdParty"  class="form-check-input" />
                                              <label class="form-check-label" for="customRadio1">Own Employee</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="radio" id="customRadio2" name="customRadio" (change)="change()" [checked]="thirdParty"  class="form-check-input" />
                                              <label class="form-check-label" for="customRadio1">Employee of TPA</label>
                                        </div>
                                      </div>
                                      <div class="col-md-8" style="display: flex; padding-bottom: 1rem; " *ngIf="thirdParty == true" >
                                        <input type="text" class="form-control" (input)="inputTpa()" id="userName1" style="
                                            background: #383e4a;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;" name="userName" placeholder="Select third-party Company or Add New" formControlName="third_party_org_name" list="codes" />
                                        <datalist id="codes" style="background: white">
                                          <option *ngFor="let c of codeList" >
                                            {{ c }}
                                          </option>
                                        </datalist>
                                        <!-- <div > -->
                                        <button *ngIf="showButton" (click)="addTpa()" id="erase" style="
                                            background: #383e4a;
                                            height: 2.5rem;
                                            border: 1px solid #444c5b;
                                            border-radius: 4px;
                                            color: grey;
                                            padding-right: 0.5rem;
                                            padding-left: 0.5rem;">+</button>
                                        <!-- </div> -->
                                      </div>

    
                                      
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-face-profile me-1"></i> -->
                                <span class="d-none d-sm-inline">Products</span>
                            </a>

                                          <ng-template ngbNavContent>
                                            <div style="display: grid;
                                            grid-auto-flow: column;
                                            grid-template-columns:min-content min-content;
                                            grid-gap: 1rem;margin-bottom: 2rem;">
                                                        <ng-template ngFor let-season [ngForOf]="userProduct" let-i=index>
                                                            <div class="gal-detail thumb" style="    width: 142px;
                                                            height: 180px;
                                                            background: #3C424F;
                                                            border-radius: 8px;">
                                                                <a href="javascript:void(0)" class="image-popup" title="hi">
                                                                </a>
                                                            
                                                                <div style="    text-align: -webkit-center;
                                                                display: grid;
                                                                justify-items: center;
                                                                grid-gap: 1rem; margin-top: 0.5rem;">
                                                                    <div class="avatar-md">
                                                                        <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                            F{{season.product_name.charAt(0)}}
                                                                        </span>
                                                                    </div>
                                                                    <p class="text-muted mb-1">Fedo {{season.product_name}}</p>
                                                                    <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                                        <input type="checkbox"  (change)="updateUserProd($event,season)" class="form-check-input" id="customSwitch1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                            </div>
                                        </ng-template>
                                         
                                                <!-- <div class="gal-detail thumb" style="width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FH
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo HSA</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox"  formControlName="hsa" (change)="demoFunction($event,'hsa')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FV
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo Vitals</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="vitals" (change)="demoFunction($event,'vitals')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FR
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo RUW</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="ruw"  (change)="demoFunction($event,'ruw')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div> -->
                                      <!-- </div> -->
                                <!-- </ng-template> -->
                        </li>

                        <li [ngbNavItem]="3">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i> -->
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p class="w-75 mb-2 mx-auto">You have successfully created the User {{user_name}}. An invitaton email has already been sent to the User.
                                                 You may inform the User to check mail and follow instructions to sign up and start Pilot.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" >
                        <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showLiveAlert" (closed)="showLiveAlert = false">{{errorMessage}}</ngb-alert>
                        </div>
                        <li class="previous list-inline-item" *ngIf="!(activeWizard1 == list)">
                            <button class="btn btn-secondary" (click)="activeWizard1=1" *ngIf="activeWizard1 !== 3"
                                [disabled]="activeWizard1===1">Previous</button>
                        </li>
                        <li class="next " style="text-align: center;" *ngIf="activeWizard1 == 3">
                            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('');basicWizardForm.reset();list=3"
                                >Close</button>
                        </li>
                        <li class="next list-inline-item float-end" *ngIf="!(activeWizard1 == 3)">
                            <button type="button" (click)="activeWizard1=activeWizard1+1" class="btn btn-secondary" 
                                *ngIf=" activeWizard1==1">Next</button>
                            <button type="button" class="btn btn-secondary" (click)="checkingUserForm();basicWizardForm.reset();list=3"
                                *ngIf="activeWizard1==2">Submit</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>


<ng-template #toggleModal2 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;    margin: 0;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');basicWizardForm.reset();list=3" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Edit Organisation</h4>
    
            <form [formGroup]="OrgForm" #basicForm="ngForm">
                <div id="basicwizard">
    
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard2"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-account-circle me-1"></i> -->
                                <span class="d-none d-sm-inline">Org Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row mb-3">
                                            <div class="col-md">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Organisation Name" formControlName="organization_name">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Org Admin Full Name" formControlName="admin_name">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Designation" formControlName="designation">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Email Address" formControlName="organization_email" [readonly]="true">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Mobile Number" formControlName="organization_mobile" >
                                            </div>
                                        </div>
    
                                      
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-face-profile me-1"></i> -->
                                <span class="d-none d-sm-inline">Products</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div style="display: grid;
                                    grid-auto-flow: column;
                                    grid-template-columns:min-content min-content;
                                    grid-gap: 1rem;margin-bottom: 2rem;">
                                         
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FH
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo HSA</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="hsa" (change)="demoFunction($event,'hsa')" class="form-check-input" id="customSwitch1" [readonly]="orglogin">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FV
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo Vitals</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="vitals" (change)="demoFunction($event,'vitals')" class="form-check-input" id="customSwitch1" [readonly]="orglogin">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FR
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo RUW</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" formControlName="ruw"  (change)="demoFunction($event,'ruw')" class="form-check-input" id="customSwitch1" [readonly]="orglogin">
                                                        </div>
                                                    </div>
                                                </div>
                                      
    
                                    </div>
                                </ng-template>
                        </li>

                        <ng-template ngFor let-season [ngForOf]="listdetails" let-i=index>                        
                            <li [ngbNavItem]="3+i">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-face-profile me-1"></i> -->
                                <span class="d-none d-sm-inline">config {{season.url.product_name}}</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="header-title" style="color: white;">Define Org URL</h4>
                                            <div class="row" style="display: grid;
                                            grid-template-columns: min-content max-content;">
                                            <div style="place-self: center;padding-right: 0;">www.fedo.ai/admin/vital/</div><input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                            border: 1px solid #444C5B;
                                            border-radius: 4px;"
                                                name="userName" placeholder="ABSLI" formControlName="url" [readonly]="orglogin">
                                            </div>
                                            <div class="card">
                                                <div class="card-body" style="padding-left: 0;">
                                                    <h4 class="header-title" style="color: white;">Specify Pilot Duration:</h4>
                                                    <ngx-slider [value]="35" formControlName="pilot_duration" 
                                                        [options]="{
                                                            floor: 0,
                                                            ceil: 100
                                                        }"></ngx-slider>
                                                </div> <!-- end card-body -->
                                            </div> <!-- end card-->
                                            <div>
                                                <h4 class="header-title" style="color: white;">Enable Fedo Score:</h4>
                                                <div class="form-check form-switch" style=" display: grid;">
                                                    <input type="checkbox" (change)="demoFunction($event,'ruw')" class="form-check-input" formControlName="fedo_score" [readonly]="orglogin" id="customSwitch1">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </ng-template>
                        </li>
                        </ng-template>

                        <li [ngbNavItem]="list">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2" style="pointer-events: none;">
                                <!-- <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i> -->
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p class="w-75 mb-2 mx-auto">You have successfully created the Organisation ABCD. An invitaton email has already been sent to the Org Admin.
                                                 You may inform the Org Admin to check mail and follow instructions to sign up and start Pilot.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" >
                        <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showOrgLiveAlert" (closed)="showOrgLiveAlert = false">{{errorOrgMessage}}</ngb-alert>
                        </div>
                        <li class="previous list-inline-item" *ngIf="!(activeWizard2 == list)">
                            <button class="btn btn-secondary" (click)="activeWizard2=activeWizard2-1" *ngIf="activeWizard2 !== list"
                                [disabled]="activeWizard2===1">Previous</button>
                        </li>
                        <li class="next " style="text-align: center;" *ngIf="activeWizard2 == list">
                            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('');OrgForm.reset();listorg=3;listdetails=[]"
                                >Close</button>
                        </li>
                        <li class="next list-inline-item float-end" *ngIf="!(activeWizard2 == list)">
                            <button type="button" (click)="activeWizard2=activeWizard2+1" class="btn btn-secondary" 
                                *ngIf="activeWizard2<list-1">Next</button>
                            <button type="button" class="btn btn-secondary" (click)="checkingOrgForm()"
                                *ngIf="activeWizard2 == list-1">Submit</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>
<ng-template #toggleModal1 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;    margin: 0;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');basicWizardForm.reset();list=3" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Edit Organisation</h4>
    
            <form [formGroup]="OrgForm" #basicForm="ngForm">
                <div id="basicwizard">
    
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard2"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-account-circle me-1"></i> -->
                                <span class="d-none d-sm-inline">Org Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row mb-3">
                                            <div class="col-md">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Organisation Name" formControlName="organization_name">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Org Admin Full Name" formControlName="admin_name">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Designation" formControlName="designation">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Email Address" formControlName="organization_email" [readonly]="true">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Mobile Number" formControlName="organization_mobile" >
                                            </div>
                                        </div>
    
                                      
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2" style="pointer-events: none;">
                                <!-- <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i> -->
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p class="w-75 mb-2 mx-auto">You have successfully updated your details.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                        
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" *ngIf="activeWizard2 == 1" >
                        <div id="liveAlertPlaceholder">
                            <ngb-alert type="warning" *ngIf="showOrgLiveAlert" (closed)="showOrgLiveAlert = false">{{errorOrgMessage}}</ngb-alert>
                        </div>
                        <li class="previous list-inline-item" >
                            <button class="btn btn-secondary" (click)="modal.dismiss('')" 
                                >Cancel</button>
                        </li>

                        <li class="next list-inline-item float-end" >

                            <button type="button" class="btn btn-secondary" (click)="checkingOrgForm()"
                                >Submit</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>

<div class="row" style="grid-auto-flow: column;
display: grid;
grid-template-columns: 8fr 4fr">

    <div class="">
        <div class="card" style="background: #313844;">
                <div class="card-body" style="grid-auto-flow: column;
                display: grid; grid-template-columns: 1fr 1fr;">
                    <div>
                        <h4 style="color: #98a6ad;font-weight: 400;
                        font-size: 18px;">Organisation Name</h4>
                        <p class="sub-header" style=" color: #fff;
                        margin-bottom: 0;font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        font-size: large;">{{organization_name}}</p>
                    </div>
                    <div class=" float-end" ngbDropdown placement="bottom-end" style="    place-self: self-end;
                    align-self: center;" *ngIf="userlogin">
                        <a href="javascript:void(0)" (click)="open(toggleModal1);prepopulateOrgFormforEdit();" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                            <i class="mdi mdi-pencil"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body" style="grid-auto-flow: column;
                display: grid; grid-template-columns: 1fr 1fr;">
                    <div>
                        <h4 style="color: #98a6ad;font-weight: 400;
                        font-size: 18px;">Org Admin Full Name</h4>
                        <p class="sub-header" style=" color: #fff;
                        margin-bottom: 0;
                        font-size: large;font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;">{{admin_name}}</p>
                    </div>
                    <div>
                        <h4 style="color: #98a6ad;font-weight: 400;
                        font-size: 18px;">Designation</h4>
                        <p class="sub-header" style=" color: #fff;
                        margin-bottom: 0;
                        font-size: large;font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;">{{designation}}</p>
                    </div>
                </div>
                <div class="card-body" style="grid-auto-flow: column;
                display: grid;grid-template-columns: 1fr 1fr;">
                    <div>
                        <h4 style="color: #98a6ad;font-weight: 400;
                        font-size: 18px;">Mobile Number</h4>
                        <p class="sub-header" style=" color: #fff;
                        margin-bottom: 0;
                        font-size: large;font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;">{{organization_mobile}}</p>
                    </div>
                    <div>
                        <h4 style="color: #98a6ad;font-weight: 400;
                        font-size: 18px;">Email Address</h4>
                        <p class="sub-header" style=" color: #fff;
                        margin-bottom: 0;
                        font-size: large;font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;">{{organization_email}}</p>
                    </div>
                </div>

        </div>
    </div>
    <div class="" *ngIf="srcImage!=='./assets/images/fedo-logo-white.png'" >
        <div  class="card" style="background: #313844; padding:1rem;display: grid;grid-template-rows: 1fr 1fr;">
            <div class="card mt-1 mb-0 shadow-none border" *ngIf="srcImage!=='./assets/images/fedo-logo-white.png'" >
                <div  style="align-self: center;">
                    <div class="row align-items-center" style="    place-content: center;">
                    <img [src]="srcImage" alt="update an image" style="width: 90%; height: 133px;border-radius: 5px;  border: 2px dashed #717386; margin-bottom: 1rem;" >
                </div>
                </div>
                </div>


                <div *ngIf="userlogin"  style="display: grid;
               
                place-self: center;
             grid-gap: 1rem;grid-template-columns: 1fr 1fr">
             <div style="background: #3C424F;padding-top: 0.5rem;border-radius: 6px !important;">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone" style="background: #3C424F; border: none; overflow-x: none;height: 0;    padding: 1rem;
                    border-radius: 5px;overflow: hidden;"
                    accept="image/jpeg,image/jpg,image/png,image/gif">
                    <ngx-dropzone-label>
                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                        <p>Upload Another</p>
       
                    </ngx-dropzone-label>
                </ngx-dropzone>
            </div>

                <div class="col-auto" style="background: #3C424F;    align-self: center; border-radius: 6px !important;">
       
                        <a href="javascript:void(0)" class="btn btn-link btn-lg text-muted" style="padding: 0;display:inherit"
                        (click)="onRemove($event)">
                        <i class="mdi mdi-delete" style="font-size: 34px;"></i>
                        <!-- <p>Delete Logo</p> -->
                    </a>
                    <p style="text-align: center;">Delete Logo</p>

                </div>

                </div>
        </div>


    </div>

    <div style=" padding: 1rem;
        align-self: center;    margin-bottom: 1.5rem;
        background: #313844;" *ngIf="srcImage=='./assets/images/fedo-logo-white.png'">
        <ngx-dropzone (change)="onSelect($event)" class="dropzone" style="height: auto !important;    padding-top: 6rem;
        padding-bottom: 4rem;    background: #313844;"
        accept="image/jpeg,image/jpg,image/png,image/gif">
        <ngx-dropzone-label>
            <i class="h1 text-muted dripicons-cloud-upload"></i>
            <h3 style="font-size: initial; color: #AEB5BD;">Drop files here or click to upload.</h3>
        <!-- here both the delete and upload photo button should be added and both the buttion should be called using api -->
        </ngx-dropzone-label>

    </ngx-dropzone>

    </div>
</div>

<div class="row" style="display: grid;
grid-template-columns: 1fr 1fr;">
    <div class="">
        <div class="card" style="background: #313844;">
                <div class="card-body" style="grid-auto-flow: column;
                display: grid; padding-bottom: 0;padding-left: 0.7rem; ">
                    <div >
                        <h4 class="sub-header" style=" color: #fff;
                        margin-bottom: 0;
                        font-size: large;">Settings</h4>
                    </div>
                    <div class=" float-end" ngbDropdown placement="bottom-end" style="    place-self: self-end;
                    align-self: center;">
                        <a (click)="open(toggleModal1);prepopulateOrgFormforEdit();" href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle [hidden]="true">
                            <i class="mdi mdi-pencil"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                <div class="card-body" style="display: grid; ">
                    <div style="border-bottom-width: 1px;padding-bottom: 1rem;border-bottom-style: dotted;">
                        <h4 style="color: #98a6ad;">Org URL:</h4>
                        <p class="sub-header" style="
                        margin-bottom: 0;
                        font-size: 20;">https://www.fedo.ai/admin/ <span style="color: #FFF;font-weight: 500;">{{url}}</span></p>
                    </div>
                    <ng-template ngFor let-season [ngForOf]="product" let-i=index> 
                        <div style="border-bottom-width: 1px;
                        padding-bottom: 1rem;margin-bottom: 1rem;border-bottom-style: dotted;
                      ">
                        <div style="margin-top: 1rem;">
                            <h4 style="color: #98a6ad;"> Fedo {{season.product_id === '1' ? 'HSA' : (season.product_id === '2' ? 'Vitals':'RUW' )}}</h4>
                            <p class="sub-header" style="margin-bottom: 0;font-size: large;">Apps</p>
                        </div>
                        <div style="
                        
                        display: grid;
                        grid-auto-flow: column;
                        grid-gap: 1rem;
                        padding-top: 1rem;
                        grid-template-columns: min-content;">
                            <a *ngIf="season.url.mobile_url !== null" [href]="season.url.mobile_url" class='cursor-pointer' style="cursor: pointer;" >
                                <img src="./assets/images/get-it-on-google-play-google-play-badge-png-logos-23 1.png" style="height: 3.5rem;">
                            </a>
                            <a *ngIf="season.url.mobile_url !== null" [href]="season.url.mobile_url" class='cursor-pointer' style="opacity: 0.4;" >
                                <img src="./assets/images/Button - iOS App Download.png" style="height: 3.5rem;width: 10.3rem;">
                            </a>
                            <a *ngIf="season.url.web_url !== null" [href]="season.url.web_url" class='cursor-pointer' >
                                <button  style="height: 3.5rem;width: 10.3rem; background-color: black; color: white;  border-radius: 11px;"> {{season.product_id === '1' ? 'HSA' : (season.product_id === '2' ? 'Vitals':'RUW' )}} Web App</button>
                            </a>
                        </div>
                        <div class="col-xl-5 card-body" style="padding-left:0">
                            <p style="
                            margin-bottom: 0.5rem;
                        ">Pilot Duration({{daysLefts(season.end_date)}} of {{season.pilot_duration}} days)</p>
                            <ngb-progressbar style="margin-top: 0;" [type]="(daysLefts(season.end_date)>season.pilot_duration ) ? 'danger':'warning'" [value]="70" class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                        </div>
                        <div>
                            <h4 class="header-title" style="color: white;">Fedo Score:</h4>
                            <div class="form-check form-switch" style=" display: grid;">
                                <input style="pointer-events: none;" type="checkbox" class="form-check-input" [checked]="season.fedoscore" id="customSwitch1">
                            </div>
                        </div>
                    </div>  



                    </ng-template>
                       </div>   
            </div>
        </div>
    </div>

    <div class="card" style="background: #313844;"  *ngIf="userlogin" >
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div ngbDropdownMenu *ngIf="userlogin">
                    <div *ngFor="let person of tabDAta;" >

                    <!-- <a href="javascript:void(0);" (click)="open(toggleModal2); setValue(person)" ngbDropdownItem>Create Users</a> -->
                    <!-- item-->
                    <a href="javascript:void(0);" (click)="open(toggleModal3); setValue(person);" ngbDropdownItem>Create User</a>
                    <!-- item-->
                    <a href="javascript:void(0);" [routerLink]="orglogin ? id+'/userdetails':'/userdetails/'+id"  ngbDropdownItem>User List</a>

                </div>
            </div>
            </div>            
            <div class=" float-end" ngbDropdown placement="bottom-end"  *ngIf="userlogin" >
                <div *ngFor="let person of tabDAta;">
                <a  href="javascript:void(0)" (click)="open(toggleModal3);setValue(person);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>            
        </div>            
            <h4 class="mt-0 header-title" style="color: white;">Recent 5 Users</h4>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead style="color: #9BA6AC;font-weight: 600;">
                        <tr>
                            <th>#</th>
                            <th>Org User Name</th>
                            <th>Mobile</th>
                            <th style="text-align: -webkit-center;">Total Tests</th>
                        </tr>
                    </thead>
                    <tbody style="color: #9BA6AC">
                        <tr *ngFor="let person of tableData;let indexOfelement=index;">
                            <th scope="row">{{indexOfelement+1}}</th>
                            <td>{{person.user_name}}</td>
                            <td>{{person.mobile.slice(3,14)}}</td>
                            <td style="text-align: center;color: #82B4F3;border-bottom-color:#9BA6AC">{{person.total_tests}}</td>
                            
                            
                        </tr>

                     
                    </tbody>
                </table>
                <!-- <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2"
                *ngIf="true">
                <div>
                    Showing  entries
                </div>
                <ngb-pagination class="custom-pagination" [collectionSize]="32" (page)="0"
                    [maxSize]="3" [rotate]="true" (pageSize)="3" >
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                </ngb-pagination>
            </div> -->
            </div>
        </div>

    </div>
</div>
