.over-hover:hover{
    background-color: #4B5160;
    >
    .option{
        content-visibility: inherit;
    
    }
}
.option{
    content-visibility: hidden;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto ;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .grid-container{
        grid-template-columns: auto;

    }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    .layout-style{
        background: #282E38;
    }
}

@media screen and (min-width: 767px) and (max-width: 1400px) {
    .layout-style{
        background: #282E38;
        
    }
}



@media screen and (min-width: 600px) and (max-width: 766px) {
    .layout-style{
        background: #282E38;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
    .layout-style{
        background: #282E38;
        margin-top: 3rem;

    }
}

.form-control{
    // .form-control {
        display: block;
        width: 100%;
        padding: .45rem .9rem;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--ct-input-color);
        background-color:  #383E4A;
        background-clip: padding-box;
        border: 1px solid  #444C5B;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 4px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
.graph-container{
    display: grid;
    grid-template-columns:  max-content 1fr;
    margin-bottom: 1rem;
    grid-gap:1rem;
}

@media (max-width: 800px) {
    .graph-container{
        grid-template-columns: auto;

    }
    
}
.BarGraph-container{
    display: grid;
    grid-template-columns:  max-content 1fr;
    margin-bottom: 1rem;
    grid-gap:1rem;
}

@media (max-width: 800px) {
    .BarGraph-container{
        grid-template-columns: auto;

    }
    
    

}
.cards-body{
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1.5rem;
    padding-bottom: .5rem;

}

@media screen and (min-width: 300px) and (max-width: 599px) {
    .cards-body{
       display: block;

    //    padding: 1rem;

    }
}

.grid-class{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-items: center;
    align-items: center;
    align-items: end;
}

