
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;" >
            <div class="card-body widget-user">
                
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <a href="javascript:void(0);" [routerLink]="['/vitalsList/'+snapshotParam]" ngbDropdownItem>View List</a>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #82B4F3;">{{vitalsCount}}</h2>
                    <h5 style="color: #ADB5BD;">Total Pilots</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <a href="javascript:void(0);" [routerLink]="['/vitalsList/'+snapshotParam]"  [queryParams]="{ status: 'active'}" ngbDropdownItem>View List</a>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #F08FC9;">{{activePilotsCount}}</h2>
                    <h5 style="color: #ADB5BD;">Active Pilots</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                    </a>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #F2CA65;">{{totalTests}}</h2>
                    <h5 style="color: #ADB5BD;">Total Tests</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                    </a>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #FF9632;">0</h2>
                    <h5 style="color: #ADB5BD;">Won</h5>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="card" style="background: #313844;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div ngbDropdownMenu>
                    <a href="javascript:void(0);" [routerLink]="['/vitalsList/'+snapshotParam]" ngbDropdownItem>Pilots List</a>

                </div>
            </div>            
            <h4 class="mt-0 header-title" style="color: white;">Recent 5 Pilots</h4>

            <div class="table-responsive" >
                <table class="table advanced-table table-nowrap mb-0">
                    <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">

                        <tr style="border-color: #49565d;">
                            <th>#</th>
                            <th>Org Name</th>
                            <th>Pilot For</th>
                            <th style="    text-align: -webkit-center;">Start Date</th>
                            <th style="    text-align: -webkit-center;">End Date</th>
                            <th style="    text-align: -webkit-center;">Users</th>
                            <th >Status</th>
                            <th style="    text-align: -webkit-center;">Tests</th>
                            
                        </tr>
                    </thead>
                    <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                        <tr class="over-hover" style="border-color: #49565d;"  *ngFor="let person of vitalsDetails;let indexOfelement=index;">
                            <th scope="row">{{indexOfelement+1}}</th>
                            <td [routerLink]="['/orgdetails', person.org_id]" href="javascript:void(0);" style="cursor: pointer;">{{person.organization_name}}</td>
                            <td [routerLink]="['/orgdetails', person.org_id]" href="javascript:void(0);" style="cursor: pointer;">
                            <div class="">
                    
                                {{person.pilot_duration}} days
                                <ngb-progressbar style="margin-top: 0;" [type]="(person.status =='Expired' ) ? 'danger':'warning'" [value]="(person.status =='Expired' ) ? 100 :(person.pilot_duration-daysLefts(person.end_date) < 0? 0 : person.pilot_duration-daysLefts(person.end_date))" [max]=" (person.status =='Expired' ) ? 100:person.pilot_duration"  class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                            </div>
                            </td>
                            <td [routerLink]="['/orgdetails', person.org_id]" href="javascript:void(0);" style=" cursor: pointer;   text-align: -webkit-center;">{{person.start_date | date: 'dd/MM/yyyy'}}</td>
                            <td [routerLink]="['/orgdetails', person.org_id]" href="javascript:void(0);" style="cursor: pointer;    text-align: -webkit-center;">{{person.end_date | date: 'dd/MM/yyyy'}}</td>
                            <td [routerLink]="['/orgdetails', person.org_id]" href="javascript:void(0);" style="cursor: pointer;    text-align: -webkit-center;">{{person.total_users}}</td>
                            <td *ngIf="person.status=='Active'" style="color: green;">{{person.status}}</td>
                            <td *ngIf="person.status=='Expired'" style="color: #F08F8F;" >{{person.status}}</td>
                            <td [routerLink]="['/orgdetails', person.org_id]" href="javascript:void(0);" style="cursor: pointer;    text-align: -webkit-center;color: #F2CA65;">{{person.total_tests}}</td>
                        </tr>                     
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="card" style="background: #313844;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div ngbDropdownMenu>
                    <a href="javascript:void(0);" [routerLink]="['/guestlist/'+snapshotParam]" ngbDropdownItem>Guest List </a>

                </div>
            </div>            
            <h4 class="mt-0 header-title" style="color: white;">Recent 5 Guest Scans</h4>

            <div class="table-responsive" >
                <table class="table advanced-table table-nowrap mb-0">
                    <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">

                        <tr style="border-color: #49565d;text-align:center">
                            <th>#</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th style="    text-align: -webkit-center;">Gender</th>
                            <th style="    text-align: -webkit-center;">Email</th>
                            <th style="    text-align: -webkit-center;">First Scan</th>
                            <th >Last Scan</th>
                            <th >Tests</th>
                            
                        </tr>
                    </thead>
                    <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                        <tr class="over-hover" style="border-color: #49565d;text-align:center"  *ngFor="let person of guestData;let indexOfelement=index;">
                            <th scope="row">{{indexOfelement+1}}</th>
                            <!-- {{person.id}} -->
                            <td>{{person.name}}</td>
                            <td>{{person.age ? person.age:'NA'}}</td>
                            <td>{{person.gender?person.gender:'NA'}}</td>
                            <td>{{person.email}}</td>
                            <td>{{(person.first_scan| date: 'dd/MM/yyyy')?person.first_scan:'NA'}}</td>
                            <td>{{(person.last_scan| date: 'dd/MM/yyyy')?person.last_scan : 'NA'}}</td>
                            <td style="cursor: pointer;    text-align: -webkit-center;color: #F2CA65;">{{person.total_tests_viu?person.total_tests_viu:'NA'}}</td>
                        </tr>

                    </tbody>
                </table>
                <div *ngIf="guestData.length === 0"><p style="text-align: -webkit-center;">No Records Found</p></div>
          
            </div>
        </div>

    </div>