<p>pilots-list works!</p>

<div class="card" style="background: #313844;">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>            
        <h4 class="mt-0 header-title">Basic example</h4>
        <!-- <p class="text-muted font-14 mb-3">
            For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code>
            to any <code>&lt;table&gt;</code>.
        </p> -->

        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Org Name</th>
                        <th>Pilot For</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Users</th>
                        <th>Status</th>
                        <th>Tests</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of vitalsDetails;let indexOfelement=index;">
                        <th scope="row">{{indexOfelement+1}}</th>
                        <td>{{person.organization_name}}</td>
                        <td>
                                <div class="">
                                    fedo(pilots)
                                    <ngb-progressbar style="margin-top: 0;" type="warning" [value]="person.progress" class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                                </div>

                        </td>
                        <td>{{person.start_date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{person.end_date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{person.total_users}}</td>
                        <td>{{person.status}}</td>
                        <td>{{person.total_tests}}</td>
                    </tr>

                 
                </tbody>
            </table>
            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2"
            *ngIf="true">
            <div>
                Showing  entries
            </div>
            <ngb-pagination class="custom-pagination" [collectionSize]="32" (page)="0"
                [maxSize]="3" [rotate]="true" (pageSize)="3" >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
        </div>
        </div>
    </div>

</div>