<div class="card" style="background: #313844;">
    <div class="card-body">
        <!-- <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>             -->
        <h4 class="mt-0 header-title" style="color: white;">Pilots</h4>
        <!-- <p class="text-muted font-14 mb-3">
            For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code>
            to any <code>&lt;table&gt;</code>.
        </p> -->

        <div class="table-responsive" >
            <table class="table advanced-table table-nowrap mb-0">
                <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">

                    <tr style="border-color: #49565d;">
                        <th>#</th>
                        <th>Org Name</th>
                        <th>Pilot For</th>
                        <th style="    text-align: -webkit-center;">Start Date</th>
                        <th style="    text-align: -webkit-center;">End Date</th>
                        <th style="    text-align: -webkit-center;">Users</th>
                        <th>Status</th>
                        <th style="    text-align: -webkit-center;">Tests</th>
                    </tr>
                </thead>
                <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                    <tr class="over-hover" style="border-color: #49565d;" *ngFor="let person of vitalsDetails;let indexOfelement=index;">
                        <th scope="row">{{indexOfelement+1}}</th>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" style="cursor: pointer;">{{person.organization_name}}</td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" style="cursor: pointer;">
                            
                                <div class="">
                                    <!-- Fedo Vitals(<span *ngIf="person.progress > 99" style="color: #F08F8F;">Expired</span><span *ngIf="person.progress < 99" style="color: green;">Active</span>) -->
                                    {{person.pilot_duration}} days
                                    <ngb-progressbar style="margin-top: 0;"  [type]="(person.status =='Expired' ) ? 'danger':'warning'" [value]="(person.status =='Expired' ) ? 100 :(person.pilot_duration-daysLefts(person.end_date) < 0? 0 : person.pilot_duration-daysLefts(person.end_date))" [max]=" (person.status =='Expired' ) ? 100:person.pilot_duration" class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                                </div>

                        </td>   
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);"  style="cursor: pointer;    text-align: -webkit-center;">{{person.start_date | date: 'dd/MM/yyyy'}}</td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);"  style=" cursor: pointer;   text-align: -webkit-center;">{{person.end_date | date: 'dd/MM/yyyy'}}</td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);"  style=" cursor: pointer;   text-align: -webkit-center;">{{person.total_users}}</td>
                        <td *ngIf="person.status=='Active'" style="color: green;">{{person.status}}</td>
                        <td *ngIf="person.status=='Expired'" style="color: #F08F8F;" >{{person.status}}</td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);"  style=" cursor: pointer;   text-align: -webkit-center; color: #82B4F3;">{{person.total_tests}}</td>
                    </tr>

                 
                </tbody>
            </table>
            <!-- <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2"
            *ngIf="true">
            <div>
                Showing  entries
            </div>
            <ngb-pagination class="custom-pagination" [collectionSize]="32" (page)="0"
                [maxSize]="3" [rotate]="true" (pageSize)="3" >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
        </div> -->
        </div>
    </div>

</div>