<div class="row" style="margin-bottom: 1rem;">
    <div class="col-xl-3 col-md-3 col-sm-4">

    </div>
    <!-- <div class="col-xl-3  col-md-3  col-sm-4"  style="    display: -webkit-box;">
        <div class="search-box float-end " style="display: inline-flex;">
            <input class="form-control" placeholder="Search..."><span class="icon fa fa-search" style="align-self: center; cursor:pointer;margin-left:1rem"></span>
    </div>
</div> -->

<div *ngIf="loginOrg == true"   class="col-xl-3 col-md-3  col-sm-4" style="    text-align-last: center;"  >
<select  class="form-select form-select-sm  w-auto ms-1 me-1 d-inline" (change)="checkOrgValue($event.target)"  name="pageSize" style="background-color: #313844;
border-color: #49565d;"id="event-category" required #idd [(ngModel)]="newArray" >
  
    <option *ngFor="let option of orgDetails" #id [value]="option.org_id"  >{{option.org_name }}</option>
</select>



</div>
<div class="col-xl-3 col-md-3  col-sm-4" style="    text-align-last: center;">
    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"  name="pageSize" (change)="checVersionValue($event.target)" style="background-color: #313844;
    border-color: #49565d;"
        id="event-category" required #idd [(ngModel)]="array">
        <option *ngFor="let option of activeStatusOptions" #id [value]="option.id"  >{{option.version}}</option>
    </select>
    
    </div>

</div>
<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card" style="background: #313844;" >
            <div class="card-body widget-user">
                <div class="text-center">
                    <h5 style="color: #ADB5BD;">Total Scans Till Now</h5>
                    <h2 class="fw-normal" style="color: #82B4F3;">{{totalScan}}</h2>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="text-center">
                    <h5 style="color: #ADB5BD;">Scans For the month</h5>
                    <h2 class="fw-normal" style="color: #F08FC9;">{{monthScan}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                    </a>
                </div>
                <div class="text-center">
                    <h5 style="color: #ADB5BD;">Scans Today</h5>
                    <h2 class="fw-normal" style="color: #FF9632;">{{todayScan}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6" >
        <div class="card layout-style" style="background: #313844; border-radius:10px">

        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3" style="color: #ADB5BD;">Escalation/Outages</h4>
                <div class="date_container">
                <div class="col-sm-6">
                    <input style="width: auto;" class="form-control" id="example-date" [(ngModel)]='startDate'  type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{todayDate|date:'yyyy-MM-dd'}}"  name="date">
                </div> 
                <div class="col-sm-6">
                    <input style="width: auto;" class="form-control" id="example-date" [(ngModel)]='todayDate'   type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{todayDate|date:'yyyy-MM-dd'}}"  name="date">
                </div>
            </div>
                <div id="bar-chart-stacked">
                    <apx-chart class="apex-charts" [series]="barChartOptions2.series!" [chart]="barChartOptions2.chart!"
                        [colors]="barChartOptions2.colors!" [plotOptions]="barChartOptions2.plotOptions!"
                        [xaxis]="barChartOptions2.xaxis!" [stroke]="barChartOptions2.stroke!"
                        [fill]="barChartOptions2.fill!" [yaxis]="barChartOptions2.yaxis!"
                        [tooltip]="barChartOptions2.tooltip!" [legend]="barChartOptions2.legend!"
                        [states]="barChartOptions2.states!" [grid]="barChartOptions2.grid!"></apx-chart>
                </div>
                <div style="color: #ADB5BD;">
                    <table class="custom-table">
                        <tr>
                            <td>Outage</td>
                            <td>Server</td>
                            <td>Client</td>
                            <td>Internet</td>
                            <td>Internet</td>
                        </tr>
                        <tr>
                            <td>0%</td>
                            <td>0%</td>
                            <td>0%</td>
                            <td>0%</td>
                            <td>0%</td>

                        </tr>
                    </table>
                    
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        </div>
    </div>
   

    <div class="col-xl-6" style="display: inline-grid;">
        <div class="card layout-style" style="background: #313844; border-radius:10px">

        <div class="card">
            <div class="card-body">
                <!-- <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                        <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                        <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                        <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
                    </div>
                </div> -->

                <h4 *ngIf="orglogin == true" class="header-title mt-0 mb-3" style="color:#ADB5BD;text-align: center;">Scans By User</h4>
                <h4 *ngIf="orglogin == false" class="header-title mt-0 mb-3" style="color:#ADB5BD;text-align: center;">Scans By Organization</h4>
                <div class="date_container">
                    <div class="col-sm-6">
                        <input style="width: auto;" class="form-control" id="example-date" [(ngModel)]='startDate'  type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{endDate|date:'yyyy-MM-dd'}}" (change)="checkDate(startDate,todayDate)"    name="date">
                    </div> 
                    <div class="col-sm-6"> 
                        <input style="width: auto;" class="form-control" id="example-date" [(ngModel)]='todayDate'  type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{endDate|date:'yyyy-MM-dd'}}" (change)="checkDate(startDate,todayDate)"   name="date">
                    </div>
                </div>

                <!-- <div class="chartCard"> -->

                <!-- <div class="chartjs-chart chartBox" style="height: 300px;">
                    <canvas id="bar-chart" #barChart baseChart [data]="barChartOptions.data!"
                        [type]="barChartOptions.type!" [options]="barChartOptions.chartOptions!"></canvas>
                </div> -->
                <div class="container" >
                <div class="container-body">
                    <canvas id="canvas">{{barChartOptions}}</canvas>
                  </div>
                  <!-- </div> -->
            </div>
        </div>
        </div>

    </div><!-- end col-->

</div>
</div>
<!-- end row -->


<div class="row">
    <div *ngIf="orglogin === false" class="col-xl-6" style="display: inline-grid;">
        <div class="card layout-style" style="background: #313844; border-radius:10px">
        <div class="card">
            <div class="card-body">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3" style="color: #ADB5BD; ">Scans by Industry</h4>
                <div class="date_container">
                    <div class="col-sm-6">
                        <input style="width: auto;" class="form-control" id="example-date" [(ngModel)]='startDate'    type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{endDate|date:'yyyy-MM-dd'}}" (change)="checkDate(startDate,todayDate)"  name="date">
                    </div> 
                    <div class="col-sm-6">
                        <input style="width: auto;" class="form-control" id="example-date" [(ngModel)]='todayDate'  type="date" min="{{created_date|date:'yyyy-MM-dd'}}" max="{{endDate|date:'yyyy-MM-dd'}}" (change)="checkDate(startDate,todayDate)"  name="date">
                    </div>
                </div>

                <div class="chartjs-chart" style="height: 300px;">
                    <canvas id="pie-chart" #pieChart baseChart [data]="pieChartOptions.data!"
                        [type]="pieChartOptions.type!" [options]="pieChartOptions.chartOptions!"></canvas>
                </div>
                <div *ngIf="orglogin === false" style="margin-top: 1rem; color:#ADB5BD">
                    <table class="custom-table">
                        <tr  >
                            <td *ngFor="let person of name_array">{{person}}</td>
                         


                        </tr>
                        <tr >
                            <td *ngFor="let person of testsArray">{{person ? person  : 0}}%</td>
                       
                        </tr>
                    </table>
                    
                </div>

            </div>
        </div>
        </div>

    </div><!-- end col-->
    <div class="col-xl-6" style="display:inline-grid">
        <div class="card layout-style" style="background: #313844; border-radius:10px">

        <div class="card">
            <div class="card-body">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3" style="color: #ADB5BD;text-align: center;">Total Scans by Month</h4>

                <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"  name="pageSize" style="background-color: #313844;
                border-color: #49565d;" (change)="checkYear($event)"
                    id="event-category" required #idd [(ngModel)]="initialYearValue" >
                    <option *ngFor="let option of yearValue" #id [value]="option"  >{{option}}</option>
                </select>

                <div class="chartjs-chart" style="height: 400px;">
                    <canvas id="lineChart" #chart1 baseChart [data]="lineChart.data!"
                        [type]="lineChart.type!" [options]="lineChart.chartOptions!"></canvas>
                </div>

            </div>
        </div>
        </div>

    </div><!-- end col-->



</div>

<div *ngIf="orglogin == true" class="row">

<div class="col-xl-3 col-md-12" style="display: inline-grid;">
    <div class="card" style="background: #313844;" >
        <div class="card-body widget-user">
            <div class="text-center">
                <h5 style="color: #ADB5BD;">No Of Users</h5>
                <h2 class="fw-normal" style="color: #82B4F3;">{{usersCount}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-xl-2 col-md-12"></div> -->
<div class="col-xl-9 col-md-12">
    <div class="card" style="background: #313844;" >
        <div class="card-body widget-user">
            <div class="text-center" *ngFor="let season of configVitals">
                <h5 style="color: #ADB5BD;">Vitals Displayed</h5>
                <!-- <h2 class="fw-normal" style="color: #82B4F3;">{{"18787"}}</h2> -->
                  <div class="row">
                    <div class="col-md-2" *ngIf="season.is_bp">
                        <img src="./assets/images/icon-attachments/Blood Pressure.png" alt="image" class="img-fluid avatar-lg  rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_rbs">
                        <img src="./assets/images/icon-attachments/Blood Sugar.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_bmi" >
                        <img src="./assets/images/icon-attachments/BMI.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <!-- <div class="col-md-2" *ngIf="season.is_bmi" >
                        <img src="./assets/images/icon-attachments/Body fat %.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div> -->
                    <div class="col-md-2" *ngIf="season.is_cholesterol">
                        <img src="./assets/images/icon-attachments/Cholestrol.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_ecg">
                        <img src="./assets/images/icon-attachments/ECG.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.fedoscore">
                        <img src="./assets/images/icon-attachments/Fedo Score.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_haemoglobin">
                        <img src="./assets/images/icon-attachments/Haemoglobin.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.heart_rate">
                        <img src="./assets/images/icon-attachments/Heart Rate.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <!-- <div class="col-md-2" *ngIf="season.is_bmi">
                        <img src="./assets/images/icon-attachments/Height to waist ratio.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div> -->
                    <div class="col-md-2"*ngIf="season.is_hrv">
                        <img src="./assets/images/icon-attachments/HRV.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <!-- <div class="col-md-2" *ngIf="season.is_bmi">
                        <img src="./assets/images/icon-attachments/PRQ.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div> -->
                    <div class="col-md-2" *ngIf="season.is_respiration">
                        <img src="./assets/images/icon-attachments/Respiration Rate.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_smoker">
                        <img src="./assets/images/icon-attachments/Smoking.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_spo2">
                        <img src="./assets/images/icon-attachments/SP02.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                    <div class="col-md-2" *ngIf="season.is_stress">
                        <img src="./assets/images/icon-attachments/Stress.png" alt="image" class="img-fluid avatar-lg rounded" />
                    </div>
                </div> <!-- end row-->
            </div>
        </div>
    </div>
</div>
</div>

