@media screen and(max-width:600px){
    .font-style{
        font-size: 7px;
    } 
 
    
}
@media screen and(min-device-width:601px) and (max-device-width:1010px){
    .font-style{
        font-size: 10px;
    } 
}
@media screen and(min-device-width:1011px) and (max-device-width:1050px){
    .font-style{
        font-size: 11px;
    } 
}
@media screen and(min-device-width:1051px){
    .font-style{
        font-size: 12px;
    } 
 
    
}
@media screen and(min-device-width:1551px){
    .font-style{
        font-size: 15px;
    } 
 
    
}
    
