<!-- Topbar Start -->
<div class="navbar-custom">
    <div [class]="containerClass" style="    background: #282E38;
    height: 100%; display: grid; grid-auto-flow: column;">
        <ul style="grid-column: 34;" class="list-unstyled topnav-menu float-end mb-0">
         

            <li class="notification-list topbar-dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" href="javascript:void(0)"
                    role="button" ngbDropdownToggle>
                    <img src="./assets/images/person.jpg" alt="user-image" class="rounded-circle">
                    
                    <span class="pro-user-name ms-1" style="color: #DEE2E6;;">
                        {{username}}<span class="pro-user-name ms-1" style="color:#9BA6AC;">{{usernameRole}}</span><i class="mdi mdi-chevron-down"></i>
                    </span>
                </a>
                <div ngbDropdownMenu class="dropdown-menu-end profile-dropdown ">
                    <!-- <div class="dropdown-header noti-title" ngbDropdownItem>
                        <h6 class="text-overflow m-0" style="color: white;">Welcome !</h6>
                    </div> -->

                    <ng-container *ngFor="let option of profileOptions;let i=index">
                        <div class="dropdown-divider" style="margin: 0;" *ngIf="i===profileOptions.length-1"></div>
                        <a class="notify-item" ngbDropdownItem>
                            <i [class]="option.icon"></i>
                            <span style="cursor: pointer;" [routerLink]="option.redirectTo">{{option.label}}</span>
                        </a>
                    </ng-container>

                </div>
            </li>



        </ul>


        <!-- LOGO -->
        <div class="logo-box">
            <a class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="./assets/images/favicon.ico" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="./assets/images/logo-light.png" alt="" height="16">
                </span>
            </a>
            <a  class="logo logo-dark text-center">
                <span class="logo-sm">
                    <img src="./assets/images/favicon.ico" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="./assets/images/Logo - Fedo.png" alt="" height="16">
                </span>
            </a>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size: larger;padding: 1rem; padding-top: 1.4rem;">
                <ng-container *ngFor="let item of breadcrumbData">
                    <li class="breadcrumb-item" *ngIf="!item.active"><a
                            [routerLink]="item.path">{{item.label}}</a>
                    </li>
                    <li class="breadcrumb-item active" style="font-weight: 500;" *ngIf="item.active">{{item.label}}
                    </li>
                </ng-container>
            </ol>
        </nav>

        <ul class="list-unstyled topnav-menu topnav-menu-left mb-0 column-hide">
            <li *ngIf="layoutType==='vertical'">
                <button class="button-menu-mobile disable-btn waves-effect open-left" style="color: white"
                    (click)="toggleMobileMenu($event)">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li *ngIf="layoutType==='horizontal'">
                <!-- Mobile menu toggle (Horizontal Layout)-->
                <a class="navbar-toggle nav-link horizontal-toggle" (click)="toggleMobileMenu($event)">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>

            <li *ngIf="layoutType==='vertical'">
                <h4 class="page-title-main" style="color: white;">{{pageTitle}}</h4>
            </li>

        </ul>

        <div class="clearfix"></div>
    </div>
</div>
<!-- end Topbar -->