<ng-template #toggleModal1 let-modal>
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Basic example</h4>
    
            <form [formGroup]="basicWizardForm" #basicForm="ngForm">
                <div id="basicwizard">
    
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard1"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(7rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-account-circle me-1"></i> -->
                                <span class="d-none d-sm-inline">Org Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" formGroupName="account">
                                    <div class="col-12">
                                        <div class="row mb-3">
                                            <div class="col-md">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Organisation Name" formControlName="userName">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Org Admin Full Name" formControlName="userName">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Designation" formControlName="userName">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Email Address" formControlName="userName">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;
                                                border: 1px solid #444C5B;
                                                border-radius: 4px;"
                                                    name="userName" placeholder="Mobile Number" formControlName="userName">
                                            </div>
                                        </div>
    
                                      
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-face-profile me-1"></i> -->
                                <span class="d-none d-sm-inline">Products</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div style="display: grid;
                                    grid-auto-flow: column;
                                    grid-template-columns:min-content min-content;
                                    grid-gap: 1rem;margin-bottom: 2rem;">
                                         
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FH
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo HSA</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox" (change)="demoFunction($event,'hsa')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FV
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo Vitals</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox"  (change)="demoFunction($event,'vitals')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gal-detail thumb" style="    width: 142px;
                                                height: 180px;
                                                background: #3C424F;
                                                border-radius: 8px;">
                                                    <a href="javascript:void(0)" class="image-popup" title="hi">
                                                    </a>
                                
                                                    <div style="    text-align: -webkit-center;
                                                    display: grid;
                                                    justify-items: center;
                                                    grid-gap: 1rem; margin-top: 0.5rem;">
                                                        <div class="avatar-md">
                                                            <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                FR
                                                            </span>
                                                        </div>
                                                        <p class="text-muted mb-1">Fedo RUW</p>
                                                        <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                            <input type="checkbox"  (change)="demoFunction($event,'ruw')" class="form-check-input" id="customSwitch1">
                                                        </div>
                                                    </div>
                                                </div>
                                      
    
                                    </div>
                                </ng-template>
                        </li>
                        <ng-template ngFor let-season [ngForOf]="listdetails" let-i=index>                        
                            <li [ngbNavItem]="season.index">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <!-- <i class="mdi mdi-face-profile me-1"></i> -->
                                <span class="d-none d-sm-inline">config {{season.name}}</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <p>salkd{{season.name}}</p>
                                </ng-template>
                        </li>
                        </ng-template>

                        <li [ngbNavItem]="list">
                            <a ngbNavLink class="rounded-0 pt-2 pb-2">
                                <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p class="w-75 mb-2 mx-auto">You have successfully created the Organisation ABC. An invitaton email has already been sent to the Org Admin.
                                                 You may inform the Org Admin to check mail and follow instructions to sign up and start Pilot.</p>
    
    
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
    
                            </ng-template>
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard">
                        <li class="previous list-inline-item">
                            <button class="btn btn-secondary" (click)="activeWizard1=activeWizard1-1"
                                [disabled]="activeWizard1===1">Previous</button>
                        </li>
                        <li class="next list-inline-item float-end">
                            <button type="button" (click)="activeWizard1=activeWizard1+1" class="btn btn-secondary" [disabled]="activeWizard1==2 && list<=3"
                                *ngIf="activeWizard1<list-1">Next</button>
                            <button type="button" class="btn btn-secondary" 
                                *ngIf="activeWizard1 == list">Submit</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>View List</a>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #82B4F3;">{{organisationCount}}</h2>
                    <h5 style="color: #ADB5BD;">Organisations</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #F08FC9;">24</h2>
                    <h5 style="color: #ADB5BD;">HSA Pilots</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>View List</a>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #F2CA65;">{{vitalsCount}}</h2>
                    <h5 style="color: #ADB5BD;">Vitals Pilots</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card" style="background: #313844;;" >
            <div class="card-body widget-user">
                <div class="float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>View List</a>
                    </div>
                </div>
                <div class="text-center">
                    <h2 class="fw-normal" style="color: #FF9632;">24</h2>
                    <h5 style="color: #ADB5BD;">RUW Pilots</h5>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="card" style="background: #313844;">
        <div class="card-body">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div ngbDropdownMenu>
                    <!-- item-->
                    <a href="javascript:void(0);" ngbDropdownItem>Create Org</a>
                    <!-- item-->
                    <a href="javascript:void(0);" ngbDropdownItem>Org List</a>

                </div>
            </div>            
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" (click)="open(toggleModal1)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>            
            <h4 class="mt-0 header-title" style="color: white;">Basic example</h4>
            <!-- <p class="text-muted font-14 mb-3">
                For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code>
                to any <code>&lt;table&gt;</code>.
            </p> -->

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Org Name</th>
                            <th>Pilots</th>
                            <th>Total Users</th>
                            <th>Total Tests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of persons">
                            <th scope="row">{{person.id}}</th>
                            <td>{{person.firstName}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-xl-5 col-md-6">
                                        fedo(pilots)
                                        <ngb-progressbar style="margin-top: 0;" type="warning" [value]="75" class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                                    </div>
                                    <div class="col-xl-5 col-md-6">
                                        fedo(pilots)
                                        <ngb-progressbar style="margin-top: 0;" type="warning" [value]="75" class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                                    </div>
                                </div>

                            </td>
                            <td>{{person.userName}}</td>
                            <td>{{person.userName}}</td>
                        </tr>

                     
                    </tbody>
                </table>
                <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2"
                *ngIf="true">
                <div>
                    Showing  entries
                </div>
                <ngb-pagination class="custom-pagination" [collectionSize]="32" (page)="0"
                    [maxSize]="3" [rotate]="true" (pageSize)="3" >
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                </ngb-pagination>
            </div>
            </div>
        </div>

    </div>