.over-hover:hover{
    background-color: #4B5160;
    >
    .option{
        content-visibility: inherit;
    
    }
}
.option{
    content-visibility: hidden;
}

.grid-container{
    display: grid;
    grid-template-columns: max-content max-content;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .grid-container{
        grid-template-columns: auto;

    }
}
.grid-container2{
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 800px) {
    .grid-container2{
        grid-template-columns: auto;

    }
}