<div id="liveAlertPlaceholder"
 style="position: fixed;
        z-index: 9999;
        display: block;
        width: -webkit-fill-available;
        padding: 10px;
        margin-top: 15px;
        padding-top:10px">

    <ngb-alert style = 'background: #0fba64;'type="success" *ngIf="showLiveAlertResendInvitation" (closed)="showLiveAlertResendInvitation = false"><span style="color: white;">{{errorMessageResendInvitation}}</span></ngb-alert>

</div>
<ng-template #toggleModal1 let-modal >
    <div class="card" style="background-color: #282E38;margin-bottom: 0;">
        <div class="card-body" style="background: #272d35;min-width: min-content;">
            <div class=" float-end" ngbDropdown placement="bottom-end">
                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" (click)="modal.dismiss('');basicWizardForm.reset();list=4;listdetails=[];reloadCurrentPage()" ngbDropdownToggle>
                    <i class="mdi mdi-close"></i>
                </a>
            </div>            
            <h4 style="color: white;">Create Organization</h4>
    
            <form [formGroup]="basicWizardForm" #basicForm="ngForm">
                <div id="basicwizard">
    
                    <ul ngbNav #basicWizard="ngbNav" [(activeId)]="activeWizard2"
                        class="nav-pills nav-justified form-wizard-header mb-4" style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(8rem , 5fr)); background-color: #313844;">
                        <li [ngbNavItem]="1">
                                <a [ngStyle]=" activeWizard2 > 1 ? ngstyle():null" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class=" d-sm-inline">Org Details</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="row mb-3">
                                            <div class="col-md">
                                                <div class="form-floating ">
                                                    <input type="text"  class="form-control" id="userName1" style="    height: 3rem;
                                                       color: #9BA6AC;" minlength="3"
                                                       
                                                       oninput=" this.value = this.value.replace(/[0-9]/g,'')" 
                                                       name="userName" placeholder="Organisation Name" required formControlName="organization_name"[ngClass]="{  'is-invalid': form1['organization_name'].touched&&form1['organization_name'].invalid||basicForm.submitted && form1['organization_name'].invalid }">
    
                                                        <label for="floatingInput" style="font-size: 0.8rem;    color: #9BA6AC" class="form-label" i18n>Organisation Name</label>
                                                        <div *ngIf="form1['organization_name'].touched&&form1['organization_name'].invalid||basicForm.submitted && form1['organization_name'].invalid " class="invalid-feedback">
                                                            <div *ngIf="form1['organization_name'].errors?.['required']" i18n>
                                                                Mandatory field
                                                              </div>
                                                              <div *ngIf="form1['organization_name'].errors?.['minlength']" i18n>
                                                                Enter full Organisation Name
                                                              </div>
                                                        </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style=" height: 3rem;color: #9BA6AC;    "
                                                    pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"
                                                    oninput=" this.value = this.value.replace(/[0-9]/g,'')" 
                                                    name="userName" placeholder="Org Admin Full Name" requied formControlName="admin_name"[ngClass]="{ 'is-invalid': form1['admin_name'].touched&&form1['admin_name'].invalid ||basicForm.submitted && form1['admin_name'].invalid }">
                                                        <label for="floatingInput" style="font-size: 0.8rem;    color: #9BA6AC;" class="form-label" i18n>Org Admin Full Name</label
                                                      >
                                                      <div *ngIf="form1['admin_name'].touched&&form1['admin_name'].invalid ||basicForm.submitted && form1['admin_name'].invalid " class="invalid-feedback">
                                                        <div *ngIf="form1['admin_name'].errors?.['required']" i18n>
                                                            Mandatory field
                                                          </div>
                                                          <div *ngIf="form1['admin_name'].errors?.['pattern']" i18n>
                                                            Invalid name format. Please enter your full name
                                                          </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="height: 3rem;
                                                      color: #9BA6AC;" minlength="3"
                                                    oninput=" this.value = this.value.replace(/[0-9]/g,'')" 
                                                    name="userName" placeholder="Designation" required formControlName="designation" [ngClass]="{ 'is-invalid':form1['designation'].touched&&form1['designation'].invalid ||basicForm.submitted&&form1['designation'].invalid}">
                                                        <label for="floatingInput" style="font-size: 0.8rem;   color: #9BA6AC;" class="form-label" i18n>Designation</label>
                                                        <div *ngIf="form1['designation'].touched&&form1['designation'].invalid ||basicForm.submitted && form1['designation'].invalid " class="invalid-feedback">
                                                            <div *ngIf="form1['designation'].errors?.['required']" i18n>
                                                                Mandatory field
                                                              </div>
                                                              <div *ngIf="form1['designation'].errors?.['minlength']" i18n>
                                                                Enter full designation
                                                              </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row " >
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="userName1" style="  height: 3rem;color: #9BA6AC"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                    name="userName" placeholder="Email Address" required formControlName="organization_email"  [ngClass]="{'is-invalid':form1['organization_email'].touched&&form1['organization_email'].invalid ||basicForm.submitted&&form1['organization_email'].invalid}">
                                                        <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Email Address</label>
                                                        <div *ngIf="form1['organization_email'].touched&&form1['organization_email'].invalid ||basicForm.submitted && form1['organization_email'].invalid " class="invalid-feedback">
                                                            <div *ngIf="form1['organization_email'].errors?.['required']" i18n>
                                                                Mandatory field
                                                              </div>
                                                              <div *ngIf="form1['organization_email'].errors?.['pattern']" i18n>
                                                                Invalid email format. Please enter valid email format
                                                              </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput maxlength="10" type="number" class="form-control" id="userName1" style=" height: 3rem;color: #9BA6AC"
                                                        name="userName" placeholder="Mobile Number" required formControlName="organization_mobile" [ngClass]="{ 'is-invalid':form1['organization_mobile'].touched&&form1['organization_mobile'].invalid ||basicForm.submitted&&form1['organization_mobile'].invalid}">
                                                        <label for="floatingInput" style="font-size: 0.8rem;color: #9BA6AC" class="form-label" i18n>Mobile Number</label>
                                                        <div *ngIf="form1['organization_mobile'].touched&&form1['organization_mobile'].invalid ||basicForm.submitted && form1['organization_mobile'].invalid " class="invalid-feedback">
                                                            <div *ngIf="form1['organization_mobile'].errors?.['required']" i18n>
                                                                Mandatory field
                                                              </div>
                                                              <div *ngIf="form1['organization_mobile'].errors?.['pattern']" i18n>
                                                                Invalid format. Please enter valid format
                                                              </div>
                                                        </div>
                                                </div>
                                                   

                                            </div>
                                        </div>
    
                                      
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a  [ngStyle]=" activeWizard2 > 2 ? ngstyle():null"  ngbNavLink class="rounded-0 pt-2 pb-2"style="pointer-events: none;">
                                <span class=" d-sm-inline">Org Settings</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div class="row grid-container2" style="    display: grid;">
                                        <div >
                                            <h4 class="header-title" style="color: white;">Define Org URL</h4>
                                            <div class="row" style="display: grid;
                                            grid-template-columns: 1fr 1fr;">
                                            <div style="place-self: center;padding-right: 0;color: #9BA6AC">www.fedo.ai/admin/</div>
                                            <input type="text" class="form-control" id="userName1" style="color: #9BA6AC;" minlength="3" maxlength="50"
                                            name="userName" pattern="[A-Za-z]+" placeholder=""required formControlName="url" [ngClass]="{'is-invalid':form1['url'].touched&& form1['url'].invalid || urlFormSubmitted&&form1['url'].invalid}">
                                                <div *ngIf="form1['url'].touched&& form1['url'].invalid || urlFormSubmitted && form1['url'].invalid " class="invalid-feedback">
                                                    <div *ngIf="form1['url'].errors?.['required']" i18n>
                                                        Mandatory field
                                                      </div>
                                                      <div *ngIf="form1['url'].errors?.['minlength']" i18n>
                                                        Invalid format. Please enter valid format
                                                      </div>
                                                      <div *ngIf="form1['url'].errors?.['pattern']" i18n>
                                                        Cannot contain spaces or special characters
                                                      </div>
                                                </div>

                                            </div>

                                        </div>
                                        
                                            <div class="card" style="background: #313844; padding:1rem;" *ngIf="srcImage!=='./assets/images/fedo-logo-white.png'">
                                                <div class="card mt-1 mb-0 shadow-none border" *ngIf="srcImage=='./assets/images/fedo-logo-white.png'">
                                                    <div  style="align-self: center;">
                                                        <div class="row align-items-center" style="    place-content: center;">
                                                        
                                                        <img src={{srcImage}} alt="" style="  height: 133px;border-radius: 5px;  border: 2px dashed #717386; margin-bottom: 1rem;" >
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="dropzone-previews" id="file-previews">
                                    
                                                        <div id="uploadPreviewTemplate" *ngFor="let f of files">
                                                            <div class="card mt-1 mb-0 shadow-none border">
                                                                <div style="align-self: center;">
                                                                    <div class="row align-items-center" style="    place-content: center;">
                                                                            <img class="avatar-sm rounded bg-light" [alt]="f.name" style="width: 15rem;height: 133px;border-radius: 5px; border: 2px dashed #717386; margin-bottom: 1rem;"
                                                                                [src]="getPreviewUrl(f)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div  style="    display: flex;
                                                    place-content: center;
                                                    column-gap: 1rem;">
                                                 <div class="col-xl-4.5 col-lg-5 col-md-5 col-sm-3"style="background: #3C424F; align-self: center;border-radius: 6px !important; height:5rem">
                                                        <ngx-dropzone (change)="onSelect($event)" class="dropzone" style="background: #3C424F; border: none; height: 0;   margin:0;
                                                        border-radius: 5px; overflow: hidden;padding-top: 1rem;"
                                                        accept="image/jpeg,image/jpg,image/png,image/gif">
                                                        <ngx-dropzone-label >
                                                            <i class="h1 text-muted dripicons-cloud-upload" style="font-size: x-large;"></i>
                                                            <p style="text-align: center; font-size: 13px; color:  #9BA6AC;">Upload Another</p>
                                           
                                                        </ngx-dropzone-label>
                                                    </ngx-dropzone>
                                                </div>
                                    
                                                    <div class="col-xl-3.5 col-lg-4 col-md-4 col-sm-2" style="background: #3C424F;    align-self: center; border-radius: 6px !important; height:5rem;padding-top: 0.3rem">
                                           
                                                            <a href="javascript:void(0)" class="btn btn-link btn-lg text-muted" style="padding: 0;display:inherit;    margin-bottom: 0.3rem;"
                                                            (click)="onRemove($event)">
                                                            <img src="./assets/images/Vector.png"  style="font-size: x-large;">
                                                        </a>
                                                        <p style="text-align: center; font-size: 13px;    margin-bottom: 18px; color: #9BA6AC;">Delete Logo</p>
                                    
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="    background: #3C424F;
                                            padding: 1.5rem;border-radius: 10px;"*ngIf="srcImage=='./assets/images/fedo-logo-white.png'">
                                                <ngx-dropzone (change)="onSelect($event)" class="dropzone" style="height: auto !important;    background: #313844;"
                                                accept="image/jpeg,image/jpg,image/png,image/gif">
                                                <ngx-dropzone-label>
                                                    <i class="h1 text-muted dripicons-cloud-upload" style="font-size: -webkit-xxx-large;"></i>
                                                    <h3 style="font-size: initial; color: #AEB5BD;   width: 9rem;">Drop files here or click to upload.</h3>
                                                </ngx-dropzone-label>
                        
                                            </ngx-dropzone>

                                            </div>
                            

                                    </div>
                                </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                            <a  [ngStyle]=" activeWizard2 > 3 ? ngstyle():null" style="pointer-events:none;" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span class=" d-sm-inline">Products</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div style="display: grid;
                                    grid-template-columns:repeat(auto-fill, minmax(8rem , 5fr));
                                    grid-gap: 1rem;margin-bottom: 2rem;">
                                         
                                                <ng-template ngFor let-season [ngForOf]="products" let-i=index>
                                                    <div class="gal-detail thumb" style="    width: 142px;
                                                    height: 180px;
                                                    background: #3C424F;
                                                    border-radius: 8px;">
                                                        <a href="javascript:void(0)" class="image-popup" title="hi">
                                                        </a>
                                    
                                                        <div style="    text-align: -webkit-center;
                                                        display: grid;
                                                        justify-items: center;
                                                        grid-gap: 1rem; margin-top: 0.5rem;">
                                                            <div class="avatar-md">
                                                                <span class="avatar-title bg-soft-secondary text-secondary font-20 rounded-circle">
                                                                    F{{season.product_name.charAt(0).toUpperCase()}}
                                                                </span>
                                                            </div>
                                                            <p class="text-muted mb-1">Fedo {{season.product_name === 'vitals' ? 'Vitals' : season.product_name.toUpperCase()}}</p>
                                                            <div class="form-check form-switch" style=" display: grid;justify-items: center;">
                                                                <input type="checkbox" formControlName="{{season.product_name}}" (change)="demoFunction($event,season)" class="form-check-input" id="customSwitch1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                    </div>
                                </ng-template>
                        </li>

                        <ng-template ngFor let-season [ngForOf]="listdetails" let-i=index>                        
                            <li [ngbNavItem]="season.index">
                                <a  [ngStyle]=" activeWizard2>season.index ? ngstyle() : null" style="pointer-events: none;" ngbNavLink class="rounded-0 pt-2 pb-2">
                                <span style = 'text-transform: capitalize;'class=" d-sm-inline">Config {{season.name === 'vitals' ? 'Vitals' : season.name.toUpperCase() }}</span>
                            </a>
                            <ng-template ngbNavContent>
                                    <div class="row grid-container">
                                        <div >
                                            <div class="card">
                                                <div class="card-body" style="padding-left: 0;padding-bottom:0">
                                                    <h4 class="header-title" style="color: #AEB5BC;">Specify Pilot Duration (Days):</h4>
                                                    <ngx-slider [value]="35" [(ngModel)]="season.pilot_duration" [ngModelOptions]="{standalone: true}"
                                                        [options]="{
                                                            floor: 0,
                                                            ceil: 90
                                                        }"></ngx-slider>
                                                        <div *ngIf="season.pilot_duration==0&&season.pressed" style="color:  #F08F8F;">
                                                            Mandatory field
                                                          </div>
                                                </div> <!-- end card-body -->
                                            </div> <!-- end card-->
                                            <div style="margin-bottom:1rem ;">
                                                <h4 class="header-title" style="color: #AEB5BC;">Enable Fedo Score:</h4>
                                                <div class="form-check form-switch" style=" display: grid;">
                                                    <input type="checkbox"  class="form-check-input" [(ngModel)]="season.fedo_score" [ngModelOptions]="{standalone: true}" id="customSwitch1">
                                                </div>
                                            </div>
                                            <div *ngIf="season.name === 'vitals'" >
                                                <div style="padding-bottom:1rem">
                                                    <h4 class="header-title" style="color: #AEB5BC;">Enable Event Mode:</h4>
                                                    <div class="form-check form-switch" style=" display: grid;">
                                                        <input type="checkbox"  class="form-check-input"(change)="eventmode($event,season.name)" [(ngModel)]="season.event" [ngModelOptions]="{standalone: true}" id="customSwitch1">
                                                    </div>
                                                </div>
                                                <div class="mb-3" *ngIf="season.event_mode!=0"  >
                                                    <h4 class="header-title" style="color: #AEB5BC;">Event Mode Ends With:</h4>
                                                    <div style="display: grid; grid-template-columns: max-content max-content;grid-gap:1rem">
                                                        <div >
                                              <input type="radio" class="form-check-input" id="customRadio1" (click)="setEventMode($event,season.name,1)"[checked]="season.event_mode==1"   />
                                              <label class="form-check-label" for="customRadio1">&nbsp;Thank You Popup</label>
                                            </div>
                                            <div >
                                              <input type="radio" class="form-check-input" id="customRadio2" (click)="setEventMode($event,season.name,2)"  [checked]="season.event_mode==2"   />
                                              <label class="form-check-label" for="customRadio1">&nbsp;Vitals Dashboard</label>
                                            </div>
                                            <div *ngIf="season.pressed&&validation==true" style="color:  #F08F8F;">
                                                Mandatory field
                                              </div>
                                                    </div>
                                      </div>
                                            </div>

                                        </div>
                                        <div class="card-body" style="padding: 0;margin-top:1.5rem;margin-left: 1rem;" *ngIf="season.name === 'vitals'">
                                            <div>
                                                <h4 class="header-title" style="color: white;">Enable Vitals Web App</h4>
                                                <div class="form-check form-switch" style=" display: grid;">
                                                    <input type="checkbox" (change)="next=!next" class="form-check-input" [(ngModel)]="season.productaccess_web" [ngModelOptions]="{standalone: true}" id="customSwitch1">
                                                </div>
                                            </div>
                                            <div *ngIf="next">
                                            <div >
                                                <h4 class="header-title" style="color: #AEB5BC;    margin-top: 1rem;">Define Web App Vitals URL:</h4>
                                                <div class="row" style="display: grid;margin-bottom:1rem">
                                                <div style="place-self: center;padding-right: 0;color: #9BA6AC">https://www.fedo.ai/products/vitals/</div>
                                                <input type="text" class="form-control" id="userName1" style="background: #383E4A;color: #9BA6AC;margin-left:1rem;
                                                border: 1px solid #444C5B;    width: 50%;
                                                border-radius: 4px;"    
                                                name="userName" placeholder=""required="" [(ngModel)]="season.web_url"(blur)="checkInputValue(season.web_url)" [ngModelOptions]="{standalone: true}"  minlength="3" maxlength="50" pattern="[A-Za-z]+">
                                                <div *ngIf="season.pressed">
                                                    <div *ngIf="season.web_url==''&&season.pressed" style="color: #F08F8F">
                                                        Mandatory field. Enter custom name for the URL
                                                    </div>
                                                    
                                                    <div *ngIf="season.web_url.length<3&&season.pressed" style="color: #F08F8F">
                                                        Please Enter Minimum 3 Characters
                                                       
                                                    </div>
                                                    <div *ngIf="web_url_error_token" style="color: #F08F8F">
                                                        Cannot contain spaces special characters
                                                       
                                                    </div>
                                                </div>
    
                                                </div>
    
                                            </div>
                                            <div>
                                                <h4 class="header-title" style="color: #AEB5BC;">Enable Fedo Score on Vitals Web App:</h4>
                                                <div class="form-check form-switch" style=" display: grid;">
                                                    <input type="checkbox"  class="form-check-input" [(ngModel)]="season.web_fedoscore" [ngModelOptions]="{standalone: true}" id="customSwitch2">
                                                </div>
                                            </div>
                                            </div>

                                        </div>

                                    </div>
                                </ng-template>
                        </li>
                        </ng-template>

                        <li [ngbNavItem]="list">
                            <a [ngStyle]=" list == activeWizard2 ? ngstyle():null" ngbNavLink class="rounded-0 pt-2 pb-2" style="pointer-events: none;">
                                <span class=" d-sm-inline">Finish</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all" style="color: #fff;"></i></h2>
                                            <h3 class="mt-0" style="color: #fff;">Success !</h3>
    
                                            <p class="w-75 mb-2 mx-auto" style="color: #AEB5BC">You have successfully created the Organisation <b> {{org_name}}</b> . An invitaton email has already been sent to the Org Admin.
                                                 You may inform the Org Admin to check mail and follow instructions to sign up and start Pilot.</p>
                                        </div>
                                    </div>
                                </div> 
                            </ng-template>
                            
                        </li>
                    </ul>
    
                    <div [ngbNavOutlet]="basicWizard" class="b-0 mb-0 pt-0"></div>
                    <ul class="list-inline mb-0 wizard" >
                        <div *ngIf="showLiveAlert" class="mb-3" style="width: 100%;
                                        margin-top: 0.25rem;
                                        font-size: 0.75rem;
                                        color: #F08F8F;">

                                                  {{errorMessage}}
                                                
                                              </div>

                                              <div id="liveAlertPlaceholder">
                                                <ngb-alert type="warning" *ngIf="showLiveAlertAPI" (closed)="showLiveAlertAPI = false">{{errorMessageAPI}}</ngb-alert>
                                            </div>
                        <li class="previous list-inline-item" *ngIf="!(activeWizard2 == list)">
                            <button class="btn btn-secondary"style="width: 100px;" (click)="activeWizard2=activeWizard2-1" *ngIf="activeWizard2 !== list"
                                [disabled]="activeWizard2===1">Previous</button>
                        </li>
                        <li class="next " style="text-align: center;" *ngIf="activeWizard2 == list">
                            <button type="button" class="btn btn-info"style="width: 100px;" (click)="listdetails=[];modal.dismiss('');basicWizardForm.reset();"
                                >Close</button>
                        </li>
                        <li class="next list-inline-item float-end" *ngIf="!(activeWizard2 == list)">
                            <button  style="width: 100px;" type="submit"(click)="fetchData()" class="btn btn-info" 
                                *ngIf="activeWizard2<list-1">Next</button>
                            <button type="button" class="btn btn-info"style="width: 100px;" (click)="fetchData();"
                                *ngIf="activeWizard2!=3&&activeWizard2 == list-1">Submit</button>
                        </li>
                    </ul>
    
    
    
                </div> <!-- end #basicwizard-->
            </form>
    
        </div> <!-- end card-body -->
    </div> <!-- end card-->
</ng-template>


<div class="card" style="background: #313844;">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)"  class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <a href="javascript:void(0);" (click)="open(toggleModal1)" ngbDropdownItem>Create Org</a>
            </div>
        </div>            
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)" (click)="open(toggleModal1)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-plus"></i>
            </a>
        </div>            
        <h4 class="mt-0 header-title" style="color: white;">Organisation List</h4>
        
        <div class="row">
        <div class="col-xl-4 col-md-4" *ngIf="pageSizeOptions.length">
            <div class="text--start">
                <label class="form-label me-1">Show
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"  name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="entries"  (change)="onFilter($event.target)">
                        <option *ngFor="let option of pageSizeOptions" #id [value]="option"  >{{option}}</option>
                    </select>
                    entries</label>
            </div>
        </div>
        <div class="col-xl-4 col-md-4" *ngIf="activeStatusOptions.length">
            <div class="text--start">
                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline"  name="pageSize" style="    background-color: #313844;
                    border-color: #49565d;"
                        id="event-category" required #idd [(ngModel)]="activeStatusValue"  (change)="onActiveStatus($event.target)">
                        <option *ngFor="let option of activeStatusOptions" #id [value]="option"  >{{option}}</option>
                    </select>
            </div>
        </div>
                
        </div>

        <div class="table-responsive">
            <table class="table advanced-table table-nowrap mb-0">
                <thead style=" font-weight: 700;   color: #9BA6AC;     border-color: #9BA6AC;">
                    <tr style="border-color: #49565d;">
                        <th>#</th>
                        <th></th>
                        <th>Org Name</th>
                        <th>Pilots</th>
                        <th style="    text-align: -webkit-center;">Total Users</th>
                        <th style="    text-align: -webkit-center;">Total Tests</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody style=" font-weight: 400;  color: #9BA6AC;    border-color: #49565d;">
                    <tr class="over-hover" style="border-color: #49565d;" *ngFor="let person of tabDAta ;let i=index;">
                        <th scope="row">{{entries *(page-1)+i+1}}</th>
                        <td *ngIf="person.is_deleted===false"><img src="./assets/images/User Status - Active.png"></td>
                        <td *ngIf="person.is_deleted===true"><img src="./assets/images/User Status - Inactive.png"></td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" style="cursor: pointer;"  >{{person.organization_name}}</td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" style="cursor: pointer;">
                            <div style="    display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-gap: 1rem;">
                                <ng-template ngFor let-season [ngForOf]="person.product" let-i=index>      
                                    <div class="">
                                        <div class=" ">
                                            Fedo {{season.product_id === '1' ? 'HSA' : (season.product_id === '2' ? 'Vitals':'RUW' )}} (<span *ngIf="person.is_deleted===false&&season.status =='Expired'" style="color: #F08F8F;">{{season.status}}</span><span *ngIf="person.is_deleted===false&&season.status =='Active'" style="color: green;">{{season.status}}</span><span *ngIf="person.is_deleted===true" style="color: #F08F8F;">Inactive</span>)
                                            <ngb-progressbar style="margin-top: 0;" [type]="(season.status =='Expired' ) ? 'danger':'warning'" [value]="(season.status =='Expired' ) ? 100 :(season.pilot_duration-daysLefts(season.end_date) < 0? 0 : season.pilot_duration-daysLefts(season.end_date))" [max]=" (season.status =='Expired' ) ? 100:season.pilot_duration" class=" progress-bar-alt-warning progress-sm"></ngb-progressbar>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>

                        </td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" style="cursor: pointer;    text-align: -webkit-center;">{{person.total_users !== null ? person.total_users:0 }}</td>
                        <td [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" style=" cursor: pointer;   text-align: -webkit-center;  color:#82B4F3;">{{person.total_tests !==null ? person.total_tests:0}}</td>
                        <td class="option">
                            <div class=" float-end" ngbDropdown placement="bottom-end" >
                                <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div style="    border: 1px solid #4B515F;" ngbDropdownMenu>
                                    <a [routerLink]="['/orgdetails', person.id]" href="javascript:void(0);" ngbDropdownItem>Org Info</a>
                                    <div style="display: flex;
                                    align-items: center;"><div style="display: flex;" *ngIf="person.is_deleted===false" href="javascript:void(0);"  ngbDropdownItem>Status (<span style="color: green;">Active</span> / Inactive)
                                        
                                </div>
                                    <div *ngIf="person.is_deleted===true" href="javascript:void(0);"  ngbDropdownItem>Status (Active / <span style="color:red;">Inactive</span>)
                                    </div>
                                    <div class="form-check form-switch" >
                                        <input type="checkbox" [(ngModel)]="!person.is_deleted" [ngModelOptions]="{standalone: true}" class="form-check-input" (ngModelChange)="updateStatus($event,person)"  id="customSwitch1">
                                </div>
                            </div>
                            <div *ngIf="person.is_register===false" href="javascript:void(0);" style="cursor: pointer;" (click)="resendInvitationMail(person)"  ngbDropdownItem>Resend Invitation

                            </div>


                                    <a [routerLink]="['/userdetails', person.id]" href="javascript:void(0);" ngbDropdownItem>Users List</a>
                                </div>
                            </div> 
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="tabDAta.length === 0"><p style="text-align: -webkit-center;">No Records Found</p></div>

            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between mt-2" style="color: #9BA6AC">
                <div *ngIf="(currentPage*entries)<=total_org">
                    Showing {{entries *(page-1)+1}} to
                    {{currentPage*entries}} of {{total_org}} entries
                </div>
                <div *ngIf="(currentPage*entries)>total_org">
                    Showing {{entries *(page-1)+1}} to
                    {{total_org}} of {{total_org}} entries
                </div>
                <ngb-pagination class="d-flex justify-content-end mt-2" 
                    [pageSize]="1" [collectionSize]="total_pages"[maxSize]="5"  [rotate]="true" (pageChange)="loadPage($event)" [(page)]="page">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
            </div>
        </div>
    </div>

</div>


